:root
{
	--font-size: 1rem;
	--action-bar-height: 3rem;
	--info-bar-height: 2rem;
	--limit-content-width: 1.0;
	--spacing-multiplier: 0.0;
	--gap-1: calc(6px + 0.95rem * var(--spacing-multiplier));
	--gap-05: calc(4px + 0.45rem * var(--spacing-multiplier));
	--gap-025: calc(2px + 0.2rem * var(--spacing-multiplier));

	--ease-elastic: cubic-bezier(.4, -0.2, .6, 1.2);

	--theme-color: hsl(197, 100%, 50%);
	--theme-color-10: rgba(from var(--theme-color) r g b / 0.1);
	--theme-color-20: rgba(from var(--theme-color) r g b / 0.2);
	--theme-color-30: rgba(from var(--theme-color) r g b / 0.3);
	--theme-color-40: rgba(from var(--theme-color) r g b / 0.4);
	--theme-color-50: rgba(from var(--theme-color) r g b / 0.5);
	--theme-color-60: rgba(from var(--theme-color) r g b / 0.6);
	--theme-color-70: rgba(from var(--theme-color) r g b / 0.7);
	--theme-color-80: rgba(from var(--theme-color) r g b / 0.8);
	--theme-color-90: rgba(from var(--theme-color) r g b / 0.9);

	--theme-color-background: hsl(from var(--theme-color) h s 6);

	--theme-color-text: hsl(from var(--theme-color) h s 95%);
	--theme-color-text-10: rgba(from var(--theme-color-text) r g b / 0.1);
	--theme-color-text-20: rgba(from var(--theme-color-text) r g b / 0.2);
	--theme-color-text-30: rgba(from var(--theme-color-text) r g b / 0.3);
	--theme-color-text-40: rgba(from var(--theme-color-text) r g b / 0.4);
	--theme-color-text-50: rgba(from var(--theme-color-text) r g b / 0.5);
	--theme-color-text-60: rgba(from var(--theme-color-text) r g b / 0.6);
	--theme-color-text-70: rgba(from var(--theme-color-text) r g b / 0.7);
	--theme-color-text-80: rgba(from var(--theme-color-text) r g b / 0.8);
	--theme-color-text-90: rgba(from var(--theme-color-text) r g b / 0.9);

	--theme-invert: 0.0;
	--theme-contrast: 0.5;
	--theme-brightness: 0.5;
	--shadow-color: hsl(0deg 0% calc(var(--theme-invert) * 100%));
	--glow-color: hsl(0deg 0% calc(100% - var(--theme-invert) * 100%));

	--sensitive-info-cover: 1.0;

	--trans-dur-mult: 1.0;
	--trans-dur-off-fast: calc(0.15s * var(--trans-dur-mult));
	--trans-dur-off-slow: calc(0.3s * var(--trans-dur-mult));
	--trans-dur-off-veryslow: calc(0.5s * var(--trans-dur-mult));
	--trans-dur-on-fast: calc(0.05s * var(--trans-dur-mult));
	--trans-dur-on-slow: calc(0.15s * var(--trans-dur-mult));
	--trans-dur-on-veryslow: calc(0.3s * var(--trans-dur-mult));
}


@media (prefers-contrast: more)
{
	body
	{
		filter: contrast(110%);
	}
}

@media (prefers-contrast: less)
{
	body
	{
		filter: contrast(90%);
	}
}






html
{
	position: absolute;
	inset: 0;

	overflow: hidden;

	background: var(--theme-color-background);
	color: var(--theme-color-text);
}


body
{
	overflow: hidden;
	clip-path: padding-box;
	position: absolute;
	inset: 0;

	margin: var(--gap-05);
	border-radius: var(--gap-05);

	font-family: AtkinsonHyperlegible;
	font-size: var(--font-size);
	letter-spacing: calc(0.15 * var(--font-size));

	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

html[devmode]::after
{
	content: 'DEBUG MODE DEBUG MODE DEBUG MODE DEBUG MODE DEBUG MODE DEBUG MODE DEBUG MODE DEBUG MODE DEBUG MODE DEBUG MODE DEBUG MODE DEBUG MODE DEBUG MODE DEBUG MODE DEBUG MODE DEBUG MODE DEBUG MODE DEBUG MODE DEBUG MODE DEBUG MODE DEBUG MODE';

	display: block;
	z-index: 99999999;
	pointer-events: none;
	overflow: visible;

	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

	border-radius: var(--gap-1);
	color: #ff00ff05;
	font-size: 100px;
	line-height: 80px;
	word-spacing: 120px;
	letter-spacing: 20px;
	font-weight: bold;
	font-family: 'Calibri';

	outline: solid 3px #f0fa;
	outline-offset: calc(-1 * var(--gap-05));

	text-align: center;
	align-content: center;

	transform: translate(-50%, -50%);
}

.notransitions
{
	animation: none !important;
	transition-duration: 0s !important;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

@media (prefers-reduced-motion: reduce)
{
	body *
	{
		animation: none !important;
		transition-duration: 0s !important;
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-o-transition: none !important;
		transition: none !important;
	}
}


body *[content-loading]
{
	pointer-events: none;
	user-select: none;
}


@keyframes anim-loading-overlay
{
	0%
	{
		background-position: 0% 200%;
	}

	50%
	{
		background-position: 0% 0%;
	}

	100%
	{
		background-position: 0% -200%;
	}
}

body *[content-loading]::after
{
	content: '';

	pointer-events: all;
	user-select: none;
	cursor: wait;

	position: absolute;
	z-index: 10;
	inset: 0;

	--back-color-0: rgb(from hsl(from var(--theme-color) h s 10%) r g b / 0.2);
	--back-color-1: rgb(from hsl(from var(--theme-color) h s 80%) r g b / 0.1);

	background-size: 100% 400%;
	background-image: linear-gradient(0deg, var(--back-color-0) 35%, var(--back-color-1) 50%, var(--back-color-0) 65%);
	backdrop-filter: blur(1px);

	animation: anim-loading-overlay linear 2s infinite;
	animation-delay: -1s;
}




.scroll-y
{
	overflow-x: hidden !important;
	overflow-y: auto !important;
}



.content-root
{
	z-index: 500;

	position: absolute;
	left: 0;
	right: 0;
	top: var(--action-bar-height);
	height: calc(100% - (var(--action-bar-height) + var(--info-bar-height)));

	transition-property: filter;
	transition-duration: var(--trans-dur-off-slow);
}

.content-body
{
	position: absolute;
	inset: 0;
	width: 100%;
	max-width: calc(193vh * var(--limit-content-width) + 100vw * calc(1.0 - var(--limit-content-width)));

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: var(--gap-025);

	margin: 0;
	padding: 0;
	border-radius: 0;
	justify-self: center;

	box-shadow: 0px 0px 0.25rem var(--shadow-color);

	background-color: hsl(from var(--theme-color) h s 6);

	clip-path: stroke-box;
}

body *
{
	scrollbar-color: hsl(from var(--theme-color) h s 16%) hsl(from var(--theme-color) h s 8%);
}








.hover-fade-in
{
	opacity: 0%;
	transform: translate(0%, 0.5rem);
}

*:hover > .hover-fade-in
{
	transform: unset;
	opacity: unset;
}

.hover-fade-out
{
	transform: unset;
	opacity: unset;
}

*:hover > .hover-fade-out
{
	transform: translate(0%, -0.5rem);
	opacity: 0%;
}







.draggable
{
	cursor: grab;
	pointer-events: visible;
	user-select: none;
}

.draggable.dragging
{
	cursor: grabbing;
}








.rainbow-background-h
{
	background-image: linear-gradient(to right, red, green, blue, red);
}

.rainbow-foreground-h::after
{
	content: '';
	position: absolute;
	pointer-events: none;
	z-index: 100000;
	inset: 0;
	background-image: linear-gradient(to right, red, green, blue, red);
	opacity: 50%;
}

.gradient-value-foreground-h::after
{
	content: '';
	position: absolute;
	pointer-events: none;
	z-index: 100000;
	inset: 0;
	background-image: linear-gradient(to right, black, white);
	opacity: 50%;
}

.gradient-saturation-foreground-h::after
{
	content: '';
	position: absolute;
	pointer-events: none;
	z-index: 100000;
	inset: 0;
	background-image: linear-gradient(to right, hsl(from var(--theme-color) h 0% 20%), hsl(from var(--theme-color) h 100% 20%));
	opacity: 50%;
}







.aura-button-loginrequired
{
	position: absolute;
	z-index: 1000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: 0% 0%;
}

.aura-button
{
	user-select: none;
	cursor: pointer;

	border-radius: calc(0.5 * var(--font-size));
	margin: 4px;
	padding: var(--font-size);
	min-width: 6rem;
	color: var(--theme-color-text-60);
	text-align: center;
	align-content: center;
	background: var(--theme-color-10);
	outline: solid 0px transparent;
	scale: 95%;

	transition-property: background-color, color, scale, rotate, outline;
	transition-timing-function: ease-in-out;
	transition-duration: var(--trans-dur-off-fast);
}

.aura-button:hover
{
	color: var(--theme-color-text);
	background: var(--theme-color-40);
	outline: solid 2px var(--theme-color);
	scale: 100%;
	transition-duration: var(--trans-dur-on-fast);
}

.aura-button:active
{
	color: var(--theme-color-text-80);
	background: var(--theme-color-30);
	scale: 98%;
	transition-duration: 0s;
}







.theme-inverter
{
	z-index: 5000000;
	position: absolute;
	pointer-events: none;
	inset: 0;
	padding: 0;
	margin: 0;
	backdrop-filter: invert(var(--theme-invert)) hue-rotate(calc(var(--theme-invert) * 180deg)) brightness(calc(var(--theme-brightness) + 0.5)) contrast(calc(var(--theme-contrast) + 0.5));
}

img,
iframe
{
	filter: contrast(calc(1.0 / (var(--theme-contrast) + 0.5))) brightness(calc(1.0 / (var(--theme-brightness) + 0.5))) hue-rotate(calc(180deg * var(--theme-invert))) invert(var(--theme-invert));
}



.material-symbols
{
	pointer-events: none;
}


.spotlight
{
	z-index: 10000000;
	position: absolute;
	padding: 0;
	margin: 0;

	pointer-events: none;

	opacity: 0%;
	box-sizing: border-box;
	outline: solid 2px white;
	overflow: visible;

	transition-property: opacity, left, top, right, bottom, width, height;
	transition-timing-function: ease-in-out;
	transition-duration: var(--trans-dur-off-fast);
	transition-delay: 1s;

	mix-blend-mode: multiply;
}

.spotlight-wall
{
	display: block;
	position: absolute;
	background-color: #000f;
}




.ripple
{
	z-index: 9999999;
	pointer-events: none;

	position: absolute;
	top: 0;
	left: 0;
	width: max(40vw, 40vh);
	height: max(40vw, 40vh);
	transform-origin: 0% 0%;

	opacity: 0%;

	--background-image: radial-gradient(at center, #fff0 0%, #fff0 47%, rgba(from hsl(from var(--theme-color) h s 50%) r g b / 0.1) 48%, #fff0 49%);
	box-shadow: 0px 0px 0.5rem rgba(from hsl(from var(--theme-color) h s 50%) r g b / 0.4), inset 0px 0px 3rem rgba(from hsl(from var(--theme-color) h s 50%) r g b / 0.2);

	border-radius: 100%;
}




.page-root div:focus-within:not(.scroll-y)::after
{
	display: none;
	pointer-events: none;
	user-select: none;

	z-index: 10000000;

	content: '';
	position: absolute;
	inset: 0;

	outline: dashed 1px #fff;
	outline-offset: -1px;

	border-radius: inherit;
}


div[valuechanged]
{
	color: yellow;
}


.hover-lift
{
	z-index: 0;
	scale: 100%;
}

.hover-lift:hover
{
	z-index: 10;
	scale: 105%;
}



.page-root textarea[valuechanged],
.page-root textarea[valuechanged]:hover
{
	color: yellow !important;
	outline-color: yellow !important;
	background-color: rgb(56, 56, 0) !important;
}

.page-root textarea
{
	border: unset;
	background-color: transparent;
	outline: solid 1px transparent;
	outline-offset: -1px;
}

.page-root textarea::placeholder
{
	font-family: inherit;
	color: hsl(from var(--theme-color) h s 36%);
	font-style: italic;
	font-size: 85%;
	padding-left: 1rem;
}


div[disabled]
{
	pointer-events: none !important;
	user-select: none !important;
	background-color: #444 !important;
	border-color: #444 !important;
	color: #888 !important;
	opacity: 50% !important;
	scale: 90% !important;
}

*[coming-soon]
{
	pointer-events: none !important;
	user-select: none !important;
	filter: saturate(20%) contrast(90%);
	opacity: 60%;
}



*[coming-soon]::after
{
	content: 'SOON' / 'Coming Soon';
	position: absolute;
	pointer-events: none !important;
	user-select: none !important;
	z-index: 100;
	bottom: 0;
	left: 50%;
	font-size: 0.5rem;
	padding: 0 1rem 0 1rem;
	color: hsl(from var(--theme-color) h s 50%);
	background-color: #0006;
	border: solid hsl(from var(--theme-color) h s 50%) 1px;
	text-align: center;
	align-content: center;
	transform-origin: 50% 50%;
	transform: translate(-50%, 2px);
}

*[coming-soon] > i
{
	transform: translate(0, -0.333rem);
}



@property --anchor-x
{
	syntax: '<number>';
	inherits: true;
	initial-value: 0.0;
}

@property --anchor-y
{
	syntax: '<number>';
	inherits: true;
	initial-value: 0.0;
}

@property --anchor-angle
{
	syntax: '<angle>';
	inherits: true;
	initial-value: 0deg;
}

@property --anim-phase
{
	syntax: '<number>';
	inherits: true;
	initial-value: 0.0;
}

@property --anim-phase-mid
{
	syntax: '<number>';
	inherits: true;
	initial-value: 0.0;
}

@keyframes anim-megatip-body
{
	0%
	{
		--anim-phase: 0.0;
		--anim-phase-mid: 1.0;
		box-shadow: 0px 0px 0px rgba(from var(--glow-color) r g b / 0.0);
	}

	25%
	{
		--anim-phase: 0.25;
		--anim-phase-mid: 0.0;
		box-shadow: 0px 0px 0px rgba(from var(--glow-color) r g b / 0.0);
	}

	25%
	{
		--anim-phase: 0.25;
		--anim-phase-mid: 0.0;
		box-shadow: 0px 0px 8px rgba(from var(--glow-color) r g b / 0.6);
	}

	50%
	{
		--anim-phase: 0.5;
		--anim-phase-mid: 0.0;
	}

	100%
	{
		--anim-phase: 1.0;
		--anim-phase-mid: 1.0;
		box-shadow: 0px 0px 0px rgba(from var(--glow-color) r g b / 0.0);
	}
}

@keyframes anim-megatip-corner
{
	0%
	{
		--anim-phase: 0.0;
		background: hsl(from var(--theme-color) h s 15%);
		transform: translate(-50%, -50%) rotate(45deg) scale(100%);
	}

	25%
	{
		--anim-phase: 0.5;
		background: hsl(from var(--theme-color) h s 60%);
		transform: translate(-50%, -50%) rotate(45deg) scale(50%);
	}

	50%
	{
		--anim-phase: 1.0;
		background: hsl(from var(--theme-color) h s 60%);
		transform: translate(-50%, -50%) rotate(45deg) scale(100%);
	}

	75%
	{
		--anim-phase: 0.5;
		background: hsl(from var(--theme-color) h s 15%);
		transform: translate(-50%, -50%) rotate(45deg) scale(100%);
	}

	100%
	{
		--anim-phase: 0.0;
		background: hsl(from var(--theme-color) h s 15%);
		transform: translate(-50%, -50%) rotate(135deg) scale(100%);
	}
}

.megatip
{
	position: absolute;
	box-sizing: border-box;
	z-index: 555000;

	pointer-events: none;
	user-select: none;

	min-width: 1rem;
	max-width: min(90vw, 36rem);
	min-height: 1rem;
	padding: calc(0.25rem + var(--gap-025));
	border-radius: var(--gap-05);

	font-size: 0.75rem;
	letter-spacing: 0.5px;

	background-blend-mode: multiply;
	background-size: 100% 100%;
	background-image: linear-gradient(var(--anchor-angle) in hsl, rgba(from hsl(from var(--theme-color) h s 35%) r g b / calc(0.5 - 0.25 * var(--anim-phase-mid))), rgba(from hsl(from var(--theme-color) h s calc(10% + 15% * var(--anim-phase-mid))) r g b / 0.5));

	border: solid hsl(from var(--theme-color) h s 40%) 2px;

	overflow: visible;

	backdrop-filter: blur(4px);

	box-shadow: 0px 0px 4px rgba(from var(--glow-color) r g b / 0.25);

	animation: calc(0.5s + 1s * var(--trans-dur-mult)) ease-in-out anim-megatip-body infinite;
}



@media (prefers-reduced-transparency: reduce)
{
	.megatip
	{
		background-image: linear-gradient(var(--anchor-angle) in hsl, hsl(from var(--theme-color) h s 35%), hsl(from var(--theme-color) h s 10%));
	}
}

.megatip::before
{
	content: '';

	position: absolute;
	box-sizing: border-box;

	top: calc(50% + 50% * var(--anchor-y) + var(--anim-phase-mid) * 0.5rem * var(--anchor-y));
	left: calc(50% + 50% * var(--anchor-x) + var(--anim-phase-mid) * 0.5rem * var(--anchor-x));

	width: 0.75rem;
	height: 0.75rem;
	transform-origin: 50% 50%;

	border: solid hsl(from var(--theme-color) h s 60%) 2px;
	border-radius: 2px;

	outline: solid 1px rgb(255 255 255 / calc(var(--anim-phase) * var(--anim-phase)));
	outline-offset: calc(0.5rem * calc(var(--anim-phase-mid) * var(--anim-phase-mid)));

	animation: calc(0.5s + 1s * var(--trans-dur-mult)) linear anim-megatip-corner infinite;

	box-shadow: 0px 0px 4px rgba(from var(--glow-color) r g b / 0.25);
}


.megatip-field
{
	display: inline;
	color: hsl(from var(--theme-color) h s 50%);
	min-width: 4rem;
	text-align: right;
	font-weight: bold;
	font-size: 0.7rem;
}

.megatip-value
{
	display: inline;
	color: hsl(from var(--theme-color) h s 50%);
	text-align: right;
	font-weight: bold;
	font-size: 0.8rem;
}

.megatip-warning
{
	display: inline;
	color: orange;
	min-width: 4rem;
	text-align: right;
	font-weight: bold;
	font-size: 0.7rem;
	text-align: right;
	padding-top: 0.25rem;
}





.page-root textarea[disabled]
{
	pointer-events: none !important;
	user-select: none !important;
}

.page-root textarea:not([disabled]):hover,
.page-root textarea:focus,
.page-root textarea:active
{
	color: white;
	outline: solid white 1px !important;
	outline-offset: -1px;

	border-radius: inherit;
}





.page-root input[valuechanged],
.page-root input[valuechanged]:hover
{
	color: yellow !important;
	outline-color: yellow !important;
	background-color: rgb(56, 56, 0) !important;
}

input[type="text"],
input[type="textarea"]
{
	border: unset;
	background-color: transparent;
	outline: solid 1px transparent;
	outline-offset: -1px;
	padding-left: var(--gap-1);
	letter-spacing: 1px;
	font-weight: normal;
	color: hsl(from var(--theme-color) h s 60%);
}

input[type="text"]::placeholder,
input[type="textarea"]::placeholder
{
	color: hsl(from var(--theme-color) h s 36%);
	font-style: italic;
	font-size: 85%;
	padding-left: 1rem;
}


input[type="text"][disabled],
input[type="textarea"][disabled]
{
	pointer-events: none !important;
	user-select: none !important;
}

input[type="text"]:not([disabled]):hover,
input[type="text"]:focus,
input[type="text"]:active,
input[type="textarea"]:not([disabled]):hover,
input[type="textarea"]:focus,
input[type="textarea"]:active
{
	color: white;
	outline: solid white 1px !important;
	outline-offset: -1px;

	border-radius: inherit;
}






.overlays-root
{
	position: absolute;
	inset: 0;

	backdrop-filter: blur(2px) contrast(90%) brightness(80%);
	z-index: 110000;

	transition-property: opacity;
	transition-duration: var(--trans-dur-on-slow);
}

.overlay-root > .page-panel
{
	outline: solid 2px #aaa5;
	outline-offset: 0px;
	scale: 98%;
	transform-origin: 0% 0%;

	transition-property: scale, outline-offset;
	transition-duration: var(--trans-dur-on-slow);
	transition-timing-function: ease;
}

.overlay-root > .page-panel:focus,
.overlay-root > .page-panel:focus-within
{
	outline: solid 2px orange;
	outline-offset: 4px;
	scale: 100%;
}








.active-border-flash
{
	transition-property: outline-color;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
	outline: solid 2px transparent;
}

.active-border-flash:active
{
	transition-duration: 0s;
	outline-color: white;
}