:root
{
	--font-size: 1rem;
	--action-bar-height: 3rem;
	--info-bar-height: 2rem;

	--theme-color: rgb(128, 128, 128);
	--theme-color-10: rgba(from var(--theme-color) r g b / 0.1);
	--theme-color-20: rgba(from var(--theme-color) r g b / 0.2);
	--theme-color-30: rgba(from var(--theme-color) r g b / 0.3);
	--theme-color-40: rgba(from var(--theme-color) r g b / 0.4);
	--theme-color-50: rgba(from var(--theme-color) r g b / 0.5);
	--theme-color-60: rgba(from var(--theme-color) r g b / 0.6);
	--theme-color-70: rgba(from var(--theme-color) r g b / 0.7);
	--theme-color-80: rgba(from var(--theme-color) r g b / 0.8);
	--theme-color-90: rgba(from var(--theme-color) r g b / 0.9);

	--theme-color-background: hsl(from var(--theme-color) h s 5%);

	--theme-color-text: hsl(from var(--theme-color) h s 95%);
	--theme-color-text-10: rgba(from var(--theme-color-text) r g b / 0.1);
	--theme-color-text-20: rgba(from var(--theme-color-text) r g b / 0.2);
	--theme-color-text-30: rgba(from var(--theme-color-text) r g b / 0.3);
	--theme-color-text-40: rgba(from var(--theme-color-text) r g b / 0.4);
	--theme-color-text-50: rgba(from var(--theme-color-text) r g b / 0.5);
	--theme-color-text-60: rgba(from var(--theme-color-text) r g b / 0.6);
	--theme-color-text-70: rgba(from var(--theme-color-text) r g b / 0.7);
	--theme-color-text-80: rgba(from var(--theme-color-text) r g b / 0.8);
	--theme-color-text-90: rgba(from var(--theme-color-text) r g b / 0.9);
}


html
{
	background: black;
	color: var(--theme-color-text);
	position: absolute;
	inset: 0;

	font-family: AtkinsonHyperlegible;
	font-size: var(--font-size);
	letter-spacing: calc(0.15 * var(--font-size));
}

body
{
	background: var(--theme-color-background);
	position: absolute;
	inset: 0;
	margin: 0.5rem;
	border-radius: 0.5rem;

	overflow: hidden;
	clip-path: fill-box;
}

.content-root
{
	z-index: 500;

	position: absolute;
	left: 0;
	right: 0;
	top: var(--action-bar-height);
	height: calc(100% - (var(--action-bar-height) + var(--info-bar-height)));
}

.content-body
{
	position: absolute;
	inset: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0px 0px 0.25rem black;
	background: hsl(from var(--theme-color) h s calc(l * 0.125));

	outline: solid 2px var(--theme-color-10);
	outline-offset: 0.25rem;

	padding: 1rem;
}


.aura-button-loginrequired
{
	position: absolute;
	z-index: 1000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: 0% 0%;
}

.aura-button
{
	user-select: none;
	cursor: pointer;

	border-radius: calc(0.5 * var(--font-size));
	padding: var(--font-size);
	min-width: 6rem;
	color: var(--theme-color-text-60);
	text-align: center;
	align-content: center;
	background: var(--theme-color-10);
	outline: solid 0px transparent;

	transition-property: background, color, scale, rotate, outline;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
}

.aura-button:hover
{
	color: var(--theme-color-text);
	background: var(--theme-color-80);
	outline: solid 2px var(--theme-color-text);
	scale: 105%;
	transition-duration: 0.05s;
}

.aura-button:active
{
	color: var(--theme-color-text-80);
	background: var(--theme-color-60);
	scale: 105%;
	rotate: 1deg;
	transition-duration: 0.05s;
}