.drop-menu
{
	z-index: 1000;
	background: hsl(from var(--theme-color) h s 15%);
	border: 1px solid hsl(from var(--theme-color) h s 40%);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
	padding: var(--gap-05);
	border-radius: var(--corner-05);
}

.drop-menu-item
{
	padding: calc(var(--gap-025) + 0.25rem);
	cursor: pointer;
}

.drop-menu-item:hover
{
	background: hsl(from var(--theme-color) h s 25%);
}