.obscurer {
	z-index: 10000;
	position: absolute;
	inset: 0px;
	backdrop-filter: blur(0.369rem) contrast(90%) brightness(90%);

	background-image: radial-gradient(at 0% 100%, #5555, #111a);
	background-size: 100vw 100vw;

	text-align: center;
	align-content: center;
	font-variant: small-caps;
	letter-spacing: 1rem;
	font-size: 400%;
	text-shadow: 0px 0.666rem 6px #0005, 0px 1rem 6px #0003, 0px 1.666rem 6px #0002, -1px 1px 0.3rem var(--theme-color);
	font-family: AtkinsonHyperlegibleBold;
	color: transparent;

	user-select: none;
}

.disabled {
	user-select: none;
	pointer-events: none;
	filter: saturate(20%) blur(1px) brightness(50%);
}


.sensitive-info {
	user-select: none;
	filter: blur(calc(var(--sensitive-info-cover) * 0.25rem)) contrast(calc(100% - var(--sensitive-info-cover) * 50%));

	transition-property: filter;
	transition-duration: 0.333s;
	transition-delay: 0.15s;
}

*:hover > .sensitive-info {
	user-select: text;
	transition-duration: 0.05s;
	transition-delay: 0.333s;
	filter: none;
}