.info-bar
{
	z-index: 10000010;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: var(--info-bar-height);

	font-size: 90%;
	font-weight: bold;
	text-align: left;
	align-content: center;

	background: var(--theme-color-20);
}

.info-bar-marquee
{
	top: 0;
	height: 100%;
	align-content: center;
	font-size: 90%;

	user-select: none;
}

.info-bar-marquee > div
{
	display: inline;
	position: absolute;

	cursor: pointer;
	pointer-events: none;

	inset: 0;

	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 0.25rem;

	color: hsl(from var(--theme-color) h 50% 60%);

	font-size: 90%;
	font-weight: normal;
	letter-spacing: 0px;
	word-spacing: 0px;

	text-align: center;
	align-content: center;

	font-style: italic;
}