.record-viewer-root
{
	position: absolute;
	inset: 0.5rem;
	display: flex;
	flex-direction: row;

	overflow: hidden;
}

.record-viewer-root > div
{
	box-shadow: inset -2px 2px 6px rgba(from var(--shadow-color) r g b / 0.25);
}

.record-viewer-list-root
{
	position: relative;
	display: flex;
	flex-direction: column;
	flex-shrink: 1.0;
	flex-grow: 1.0;

	width: 20rem;
	max-width: 28rem;
	min-width: 20rem;

	background: hsl(from var(--theme-color) h s 12%);

	overflow: hidden;

	padding: 1rem;
	border-radius: var(--corner-05);

	clip-path: stroke-box;

	outline: solid 2px transparent;
	outline-offset: -2px;

	margin: 0.5rem;
	justify-items: center;

}

.page-root:hover .record-viewer-list-root
{
	outline: solid 2px hsl(from var(--theme-color) h s 20%);
}




.record-viewer-list-filters
{
	min-height: 3rem;
	border-radius: var(--corner-05);
	min-width: 0;
	background: hsl(from var(--theme-color) h s 14%);
	outline: solid 2px hsl(from var(--theme-color) h s 10%);
	margin-bottom: 0.5rem;
}



.record-viewer-list-items
{
	display: flex;
	flex-direction: column;
	flex-shrink: 1.0;
	flex-grow: 1.0;

	background: hsl(from var(--theme-color) h s 14%);

	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: 0px;

	padding: 0.5rem;
	border-radius: var(--corner-05);

	outline: solid 2px hsl(from var(--theme-color) h s 10%);

	justify-items: center;
}

.record-viewer-list-tip
{
	position: absolute;
	pointer-events: none;
	bottom: 0;
	left: 50%;
	max-width: 80%;
	border-radius: var(--corner-05) var(--corner-05) 0 0;
	transform: translate(-50%, 0);
	height: 1rem;
	line-height: 1rem;
	padding: 0.25rem 0.75rem 0.25rem 0.75rem;
	letter-spacing: normal;

	opacity: 35%;
	font-size: 80%;
	font-weight: bold;

	text-align: center;
	justify-self: center;
	background-color: #000a;

	font-variant: small-caps;
}




.record-viewer-list-item
{
	cursor: pointer;

	padding: 0.5rem 0.25rem 0.5rem 0.25rem;
	line-height: 1rem;
	min-height: 1rem;

	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	font-size: 0.9rem;
	text-wrap: nowrap;

	border-style: solid;
	border-color: rgba(from var(--theme-color) r g b / 0.1);
	border-width: 2px 0px 2px 0px;

	color: var(--theme-color-text-50);

	letter-spacing: normal;

	transition-property: padding-left, min-height, background-color, color, text-shadow;
	transition-delay: 0.035s;
	transition-duration: var(--trans-dur-on-slow);
	transition-timing-function: ease-in-out;
}

.record-viewer-list-item:hover
{
	min-height: 3rem;
	padding-left: 0.5rem;
	background-color: rgba(from var(--theme-color) r g b / 0.2);
	color: var(--theme-color-text);
	transition-duration: var(--trans-dur-on-slow);

	text-shadow: -3px 3px 2px rgba(from var(--shadow-color) r g b / 0.2);
}

.record-viewer-list-item:active
{
	padding-left: 0.666rem;
	color: var(--theme-color-text-80);
	text-shadow: -1px 1px 1px rgba(from var(--shadow-color) r g b / 0.3);
	background-color: rgba(from var(--theme-color) r g b / 0.1);
	transition-delay: 0s;
}

.record-viewer-list-item.selected
{
	background-color: hsl(from var(--theme-color) h s 30%);
}

.record-viewer-list-item:hover.selected
{
	background-color: hsl(from var(--theme-color) h s 40%);
}

.record-viewer-list-item:active.selected
{
	background-color: hsl(from var(--theme-color) h s 36%);
}






.record-viewer-view-root
{
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	flex-shrink: 1.0;
	flex-grow: 1.0;

	background: hsl(from var(--theme-color) h s 12%);

	overflow-x: hidden;
	overflow-y: auto;

	padding: 1rem;
	border-radius: var(--corner-05);

	clip-path: stroke-box;

	outline: solid 2px transparent;
	outline-offset: -2px;

	margin: 0.5rem;
	justify-items: center;

	scrollbar-width: 0;
}

.page-root:hover .record-viewer-view-root
{
	outline: solid 2px hsl(from var(--theme-color) h s 20%);
}

.record-viewer-view-block
{
	flex-shrink: 1.0;
	flex-grow: 1.0;
	flex-basis: 0;

	display: flex;
	flex-direction: column;
	overflow: hidden;

	min-width: 24rem;

	margin: 0.25rem;
	padding: 0.75rem;
	border-radius: var(--corner-05);

	border: solid 2px hsl(from var(--theme-color) h s 15%);

	box-shadow: -2px 2px 3px rgba(from var(--shadow-color) r g b / 15%);
}

.record-viewer-view-block:hover
{
	box-shadow: -2px 2px 4px rgba(from var(--shadow-color) r g b / 50%);
	background-color: hsl(from var(--theme-color) h s 10%);
}

.record-viewer-view-block > span
{
	display: block;
	font-weight: bold;
	padding-left: 1rem;
	padding-bottom: 0.5rem;
	letter-spacing: 1px;
	color: hsl(from var(--theme-color) h s 50%);
	text-shadow: -2px 2px 2px rgba(from var(--shadow-color) r g b / 0.3);
}

.record-viewer-view-block:hover > span
{
	color: hsl(from var(--theme-color) h s 70%);
}











.info-row
{
	position: relative;
	cursor: default;

	display: flex;
	flex-direction: row;

	font-size: 0.75rem;
	font-weight: normal;
	letter-spacing: 0px;
	word-spacing: -3px;

	align-content: start;
	line-height: 1.5rem;
	min-height: 1.5rem;
	margin-top: 1px;
	margin-bottom: 1px;

	overflow: hidden;
	border-radius: var(--corner-05);

	transition-property: background-color;
	transition-timing-function: ease-in-out;
	transition-duration: var(--trans-dur-off-fast);
}

.info-row:hover
{
	background-color: rgba(from var(--theme-color) r g b / 0.1);
}

.info-label
{
	display: block;
	position: relative;
	flex-shrink: 0.0;

	width: 8rem;
	height: auto;

	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: var(--theme-color-text-70);
	background-color: hsl(from var(--theme-color) h s 18%);

	text-align: right;
	text-wrap: nowrap;
	text-overflow: ellipsis;

	font-size: 110%;
	font-variant: small-caps;
	letter-spacing: 1px;
}

.info-row:hover .info-label
{
	color: var(--theme-color-text);
	background-color: hsl(from var(--theme-color) h s 24%);
}





.info-value
{
	display: block;
	position: relative;

	overflow: hidden;
	text-wrap: nowrap;
	text-overflow: ellipsis;

	height: 100%;

	padding: 0 0 0 0.5rem;

	text-align: left;
	color: var(--theme-color-text-60);

	font-size: 0.7rem;
	align-content: start;

	transition-property: padding;
	transition-timing-function: ease-in-out;
	transition-duration: var(--trans-dur-off-fast);
}

.info-row:hover .info-value
{
	color: var(--theme-color-text);
}

.info-value a
{
	color: hsl(from var(--theme-color) h s 55%);
	padding: 0.25rem 0.5rem 0.25rem 0.5rem;
	border-radius: var(--corner-05);
}

.info-value a:hover
{
	color: hsl(from var(--theme-color) h s 80%);
	background: hsl(from var(--theme-color) h s 10%);
}


.info-row-separator
{
	pointer-events: none;
	height: 1rem;
	background: hsl(from var(--theme-color) h s 15%);
	font-variant: small-caps;
	align-content: center;
	font-size: 0.8rem;
	padding: 0.25rem;
	padding-left: 1rem;
	border-radius: var(--corner-025);
}


.info-value-button
{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 1.25rem;
	cursor: pointer;
}

.info-value-button:hover
{
	scale: 120%;

	background-color: hsl(from var(--theme-color) h s 50%);
}

.info-value-button > i
{
	font-size: 100%;
}

.info-value-button:hover > i
{
	color: hsl(from var(--theme-color) h s 5%);
}