.content-pages-root
{
	position: absolute;
	inset: 0;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	justify-content: center;
	box-shadow: inset -2px 2px 6px rgba(from var(--shadow-color) r g b / 0.2);

}

.page-root
{
	position: relative;
	display: block;

	flex-shrink: 1.0;
	flex-grow: 1.0;

	opacity: 0.0;
	scale: 0.7;

	margin: 0.5rem;
	min-width: 20%;

	border-radius: 0.5rem;
	clip-path: stroke-box;

	outline: solid 3px #fff0;
	outline-offset: -2px;

	box-shadow: -1px 1px 3px rgba(from var(--shadow-color) r g b / 0.15);
	background-color: rgba(from var(--theme-color) r g b / 0.1);

	transition-property: background-color, box-shadow, opacity, outline-color, scale;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease-in-out;
}

.page-root:hover
{
	outline-color: #fff2;
	opacity: 1.0 !important;

	box-shadow: -2px 2px 6px rgba(from var(--shadow-color) r g b / 0.2);
	background-color: rgba(from var(--theme-color) r g b / 0.12);
	transition-delay: 0s;
}




.page-move-button
{
	z-index: 1000;
	cursor: pointer;
	user-select: none;

	position: absolute;
	top: 0.2rem;
	right: 1.9rem;
	width: 1.5rem;
	height: 1.5rem;
	background-color: #f803;
	border-radius: 0.2rem;

	box-shadow: 0px 0px 0px rgba(from var(--shadow-color) r g b / 0);
	text-shadow: -2px 2px 2px rgba(from var(--shadow-color) r g b / 0.2);

	scale: 90%;
}

.page-move-button:hover
{
	scale: 100%;
	background-color: #f806;
}

.page-move-button:active
{
	scale: 95%;
	background-color: #f805;
}

.page-move-button > i
{
	color: white;
	pointer-events: none;
	opacity: 15%;
}

.page-move-button:hover > i
{
	opacity: 65%;
}

.page-close-button
{
	z-index: 1000;
	cursor: pointer;
	user-select: none;

	position: absolute;
	top: 0.2rem;
	right: 0.2rem;
	width: 1.5rem;
	height: 1.5rem;
	background-color: #f003;
	border-radius: 0.2rem;

	box-shadow: 0px 0px 0px rgba(from var(--shadow-color) r g b / 0);
	text-shadow: -2px 2px 2px rgba(from var(--shadow-color) r g b / 0.2);

	scale: 90%;
}

.page-close-button:hover
{
	box-shadow: -2px 2px 1px rgba(from var(--shadow-color) r g b / 0.2);
	background-color: #f006;
	scale: 100%;
}

.page-close-button:active
{
	box-shadow: -1px 1px 0px rgba(from var(--shadow-color) r g b / 0.25);
	background-color: #f004;
	scale: 95%;
}

.page-close-button > i
{
	pointer-events: none;
	opacity: 15%;
}

.page-close-button:hover > i
{
	color: red;
	opacity: 80%;
}




.page-content-root
{
	position: absolute;
	inset: 2rem 0 0 0;
	min-width: 10rem;

	display: flex;
	flex-direction: column;

	padding: 0.5rem;

	overflow-x: hidden;
	overflow-y: auto;
}

.page-content-root-block
{
	position: relative;
	margin: 0.25rem;
	padding: 0.5rem;

	flex-grow: 1.0;
	flex-basis: 0;

	border-radius: 0.35rem;
	border: solid 2px #ffffff05;

	background-color: #aaaaaa02;
	box-shadow: -1px 1px 3px rgba(from var(--shadow-color) r g b / 0.15);

	transition-property: border, background-color, box-shadow;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease-in-out;
}

.page-content-root-block:hover
{
	background-color: #aaaaaa05;
	border: solid 2px #fff1;
	box-shadow: -2px 2px 6px rgba(from var(--shadow-color) r g b / 0.1);
}



.page-root:hover > .page-title-bar
{
	color: var(--theme-color-80);
}

.page-title-bar
{
	position: static;
	user-select: none;
	height: 2rem;
	line-height: 2rem;

	color: var(--theme-color-40);
	letter-spacing: 4px;
	text-align: center;
	align-content: center;
	font-weight: bold;
	font-size: 90%;

	background: #0002;
}

.page-title-bar > i
{
	display: inline;
	position: static;
	font-variant: unset;
	color: inherit;
	padding-right: 1.3rem;
	padding-left: 1rem;
	width: 1rem;
	font-size: 120%;
	line-height: 2rem;
}




.menu-root
{
	display: flex;
	flex-direction: column;

	padding: 0rem;
	inset: 3rem 1rem 1rem 1rem;
	border-radius: 1rem;

	overflow: hidden;
	clip-path: stroke-box;

	background-color: #0002;

	box-shadow: inset -2px 2px 6px rgba(from var(--shadow-color) r g b / 0.25);
}

.menu-button
{
	user-select: none;
	cursor: pointer;

	text-align: center;
	align-content: center;
	font-weight: bold;

	min-height: 0;
	flex-shrink: 1.0;
	flex-grow: 1.0;

	padding-left: 0.5rem;
	padding-right: 0.5rem;

	color: var(--theme-color-text-30);

	transition-property: background-color, color, padding, text-shadow;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease-in-out;
}

.menu-button:hover
{
	padding-left: calc(0.5rem + 4px);
	padding-right: calc(0.5rem - 4px);

	text-shadow: -4px 4px 2px rgba(from var(--shadow-color) r g b / 0.2);
	color: var(--theme-color-text-80);
	background-color: #fff1;

	transition-duration: 0s;
}


.info-row
{
	cursor: default;

	font-size: 0.75rem;
	font-weight: normal;
	letter-spacing: 0px;
	word-spacing: -3px;

	align-content: center;
	line-height: 1.25rem;
	height: 1.25rem;
	margin-top: 2px;
	margin-bottom: 2px;

	text-wrap: nowrap;
	text-overflow: ellipsis;

	overflow: hidden;
	border-radius: 0.3rem;

	transition-property: background-color;
	transition-timing-function: ease-in-out;
	transition-duration: var(--trans-dur-off-fast);
}

.info-row:hover
{

	background-color: rgba(from var(--theme-color) r g b / 0.1);
}

.info-label
{
	display: inline-block;
	min-width: 8rem;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	margin-right: 0.25rem;
	text-align: right;
	color: var(--theme-color-text);
	background-color: hsl(from var(--theme-color) h s 25%);

	font-size: 110%;
	font-variant: small-caps;
	letter-spacing: 1px;

	transition-property: margin-right;
	transition-timing-function: ease-in-out;
	transition-duration: var(--trans-dur-off-fast);
}

.info-row:hover > .info-label
{
	margin-right: 0.5rem;
}














.settings-options-root
{
	position: relative;
	padding: 0.5rem;

	border-radius: 0.5rem;
	border: solid 2px rgba(from var(--theme-color) r g b / 0.1);

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	align-content: start;
}






.setting-root
{
	position: relative;
	cursor: pointer;
	user-select: none;

	flex-grow: 1.0;
	flex-shrink: 0.0;

	min-width: 8rem;
	min-height: 8rem;
	margin: 0.333rem;

	background-color: transparent;
	border-radius: 0.5rem;
	text-align: center;
	align-content: center;
	font-size: 90%;
	font-variant: small-caps;
	border: solid 2px rgba(from var(--theme-color) r g b / 0.1);

	opacity: 90%;

	transition-property: opacity, background-color;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease-in-out;
}

.setting-root:active
{}

.setting-root:hover
{
	opacity: 100%;
	text-shadow: 0px 0px 6px rgba(from var(--shadow-color) r g b / 0.25);
	box-shadow: 0px 0px 6px rgba(from var(--shadow-color) r g b / 0.2);
	background-color: rgba(from var(--theme-color) r g b / 0.1);
}


.setting-root > i
{
	pointer-events: none;
	position: absolute;
	color: var(--theme-color-60);
	inset: 0 0 1.5rem 0;
	max-height: 100%;
	align-content: center;
	text-align: center;
	font-variant: normal;
	font-size: 250%;
	text-shadow: none;
}

.setting-root > span
{
	pointer-events: none;

	position: absolute;
	left: 0.66rem;
	right: 0.66rem;
	bottom: 0px;

	text-wrap: pretty;
	align-content: center;
	text-align: center;
	font-variant: small-caps;
	font-size: 120%;

	color: var(--theme-color);

	transition-property: bottom;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: ease-in-out;
}

.setting-root:hover > span
{
	color: var(--theme-color);
	bottom: 4px;
	text-shadow: 0px 4px 2px rgba(from var(--shadow-color) r g b / 0.2);
	transition-duration: var(--trans-dur-on-slow);
}


.setting-root-on
{
	background-color: var(--theme-color-30);
	border: solid 2px rgba(from var(--theme-color) r g b / 0.05);
}

.setting-root-on > span
{
	color: var(--theme-color);
}

.setting-root-on > i
{
	color: var(--theme-color);
	text-shadow: 0px 0px 6px var(--theme-color);
}

.setting-root-on:hover > span
{
	color: var(--theme-color);
}



.setting-root-slider
{
	min-width: 70%;
	min-height: 3.5rem;

	clip-path: stroke-box;
}

.setting-slider-fill
{
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;

	border-width: 0px 6px 0px 0px;
	border-style: solid;
	border-color: rgba(from var(--theme-color) r g b / 0.15);

	max-width: 100%;

	background-color: rgba(from var(--theme-color) r g b / 0.15);
}

.setting-root-slider:active
{
	border: solid 2px var(--theme-color);
}

.setting-root-slider:hover > .setting-slider-fill
{
	background-color: rgba(from var(--theme-color) r g b / 0.2);
}




.setting-root-toggle.setting-root-on
{
	border: solid 2px var(--theme-color);
}

.setting-root-toggle:hover
{
	opacity: 100%;
	text-shadow: 0px 0px 6px rgba(from var(--shadow-color) r g b / 0.25);
	box-shadow: 0px 0px 6px rgba(from var(--shadow-color) r g b / 0.2);
	background-color: rgba(from var(--theme-color) r g b / 0.2);
}

.setting-root-toggle:active
{
	box-shadow: 0px 0px 2px rgba(from var(--shadow-color) r g b / 0.25);
}