.info-bar
{
	z-index: 10000010;

	display: flex;
	flex-direction: row;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: var(--info-bar-height);

	padding-left: 1rem;
	padding-right: 1rem;

	font-size: 90%;
	font-weight: bold;
	text-align: left;
	align-content: center;

	background: var(--theme-color-20);
}







.info-bar-clock
{
	user-select: none;
	text-align: center;
	align-content: center;
	opacity: 70%;
	margin-right: 1rem;
	font-size: 0.8rem;
	letter-spacing: 3px;
	color: hsl(from var(--theme-color) h s 80%);
}


@media not (display-mode: fullscreen)
{
	.info-bar-clock
	{
		display: none;
	}
}





.info-bar-marquee
{
	height: 100%;

	flex-grow: 1.0;
	flex-shrink: 1.0;

	align-content: center;
	font-size: 0.75rem;

	text-align: left;
	text-wrap: nowrap;

	user-select: none;
	overflow: hidden;
	text-overflow: ellipsis;
}

.info-bar-marquee > div
{
	display: inline;

	cursor: pointer;
	pointer-events: none;

	inset: 0;


	background-color: #0002;

	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: var(--corner-025);

	color: hsl(from var(--theme-color) h s 70%);

	font-size: 90%;
	font-weight: normal;
	letter-spacing: 0px;
	word-spacing: 0px;

	text-align: center;
	align-content: center;

	font-style: italic;
}



@keyframes save-icon-pulse-soft
{
	0%
	{
		opacity: 10%;
	}

	50%
	{
		opacity: 20%;
	}

	100%
	{
		opacity: 10%;
	}
}

@keyframes save-icon-pulse-fast
{
	0%
	{
		text-shadow: 0 0 0.5rem rgba(from var(--theme-color) r g b / 0.0);
		color: var(--theme-color);
		opacity: 10%;
		scale: 90%;
	}

	50%
	{
		text-shadow: 0 0 0.5rem var(--theme-color);
		color: #000;
		opacity: 90%;
		scale: 100%;
	}

	100%
	{
		text-shadow: 0 0 0.5rem rgba(from var(--theme-color) r g b / 0.0);
		color: var(--theme-color);
		opacity: 10%;
		scale: 90%;
	}
}


.info-bar-lastsaved
{
	cursor: help;

	height: 100%;
	width: fit-content;
	flex-grow: 0.0;
	flex-shrink: 0.0;
	transform-origin: 50% 50%;

	align-content: center;
	text-align: right;
	font-size: 80%;
	font-weight: normal;
	letter-spacing: normal;
	font-style: italic;

	color: var(--theme-color);
	opacity: 10%;

	animation: none;
}