.content-page-frames-root
{
	display: block;
	position: absolute;
	overflow: hidden;
	inset: 0;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;

	gap: var(--gap-05);
	padding: var(--gap-05);
}


.content-pages-root
{
	position: absolute;
	inset: 0;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;

	scrollbar-color: hsl(from var(--theme-color) h s 15%) hsl(from var(--theme-color) h s 8%);

	gap: var(--gap-05);
	padding: var(--gap-05);

	transition-property: opacity, filter;
	transition-duration: var(--trans-dur-on-fast);
	transition-timing-function: ease-in;
}


.content-pages-loose
{
	pointer-events: none;
	display: block;
	position: absolute;
	overflow: hidden;
	inset: 0;

	border-radius: 0;
	padding: var(--gap-05);
	scrollbar-color: hsl(from var(--theme-color) h s 15%) hsl(from var(--theme-color) h s 8%);

	transition-property: opacity;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: ease-in;
}

.content-page-frames-loose
{
	pointer-events: none;
	display: block;
	position: absolute;
	overflow: hidden;
	inset: 0;

	padding: var(--gap-05);

	transition-property: opacity;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: ease-in-out;
}





.page-root-frame
{
	display: block;
	position: relative;
	flex-shrink: 1.0;
	flex-grow: 1.0;
	flex-basis: 0;
	min-width: 13rem;
	min-height: 13rem;
}

.page-root-frame::after
{
	display: none;
	content: '';
	z-index: 100000000;
	position: absolute;
	pointer-events: none;
	inset: 0;

	background-image: linear-gradient(0deg, #ff01, transparent);
	outline: solid 2px #ff05;
	outline-offset: -2px;
}





.page-root
{
	position: absolute;
	display: block;

	opacity: 100%;
	scale: 100%;

	border-radius: var(--gap-05);

	outline: solid 3px transparent;
	outline-offset: -2px;

	box-shadow: 0px 0px 5px rgba(from var(--shadow-color) r g b / 0.15);
	background-color: hsl(from var(--theme-color) h s 18%);

	transition-property: rotate, top, left, width, height, background-color, box-shadow, opacity, outline-color, scale;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: cubic-bezier(.4, -0.2, .6, 1.2);
}

.page-root:focus-within
{
	outline-color: hsl(from var(--theme-color) h s 35%);
	opacity: 100%;

	background-color: hsl(from var(--theme-color) h s 24%);
}

.page-root::after
{
	content: '';
	pointer-events: none;
	user-select: none;

	position: absolute;
	border-radius: var(--gap-05);
	inset: 0;

	background: rgba(from hsl(from var(--theme-color) h s 25%) r g b / 0.25);
}

.page-root:hover::after
{
	content: '';
	pointer-events: none;
	user-select: none;

	position: absolute;
	inset: 0;

	background: rgba(from hsl(from var(--theme-color) h s 25%) r g b / 0.125);
}

.page-root.page-focused::after
{
	content: '';
	pointer-events: none;
	user-select: none;

	position: absolute;
	inset: 0;

	background: rgba(from var(--theme-color) r g b / 0.0);
}

.page-loose
{
	box-shadow: 0px 0px 6px rgba(from var(--shadow-color) r g b / 0.9);
	clip-path: none;
}








.page-title-bar
{
	user-select: none;

	position: relative;
	width: 100%;
	left: 0;

	height: 2rem;
	min-height: 2rem;
	line-height: 2rem;

	color: hsl(from var(--theme-color) h s 50%);
	letter-spacing: 4px;
	text-align: center;
	align-content: center;
	font-weight: bold;
	font-size: 90%;

	background: #0002;

	border-radius: var(--gap-05);
}

.page-title
{
	position: absolute;
	inset: 0;
}

.page-title-bar i
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	aspect-ratio: 1.0;
	width: auto;

	scale: 80%;

	color: hsl(from var(--theme-color) h s 50%);
}

.page-title-bar .page-title-buttons
{
	opacity: 0%;
	transition-property: opacity;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: ease-in-out;
}

.page-title-bar:hover .page-title-buttons,
.page-title-bar:focus .page-title-buttons,
.page-title-bar:focus-within .page-title-buttons
{
	opacity: 100%;
}


.page-title-bar .page-title
{
	opacity: 100%;
	transition-property: opacity;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: ease-in-out;
}

.page-title-bar:hover .page-title
{
	opacity: 15%;
}

.page-title-buttons
{
	position: relative;
	height: 100%;
	pointer-events: none;

	z-index: 100;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 1.0;
}


.page-title-button
{
	cursor: pointer;
	pointer-events: all;

	position: relative;
	top: 2px;
	height: calc(100% - 8px);
	aspect-ratio: 1.0;
	width: auto;
	background-color: hsl(from var(--theme-color) h s 10%);

	border-radius: var(--gap-05);

	opacity: 80%;
	scale: 90%;

	border: solid 2px;
	border-color: rgba(from var(--theme-color) r g b / 0.1);

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	transition-property: border-color;
	transition-duration: var(--trans-dur-off-fast);
}

.page-title-button:hover
{
	opacity: 100%;
	scale: 100%;
	background-color: hsl(from var(--theme-color) h s 15%);
	border-color: rgba(from var(--theme-color) r g b / 0.5);

	box-shadow: 0px 0px 6px black;

}

.page-title-button i
{
	opacity: 70%;
	scale: 80%;

	transition-property: opacity, scale;
	transition-duration: var(--trans-dur-off-fast);
}

.page-title-button:hover i
{
	opacity: 100%;
	scale: 95%;
}








.page-panel
{
	position: relative;
	overflow: hidden;

	pointer-events: stroke;

	flex-grow: 1.0;
	flex-shrink: 1.0;

	min-width: 1rem;
	min-height: 1rem;
	gap: var(--gap-05);
	padding: var(--gap-025);

	color: var(--theme-color-text-50);
	letter-spacing: 0px;
	font-size: 95%;
	user-select: none;

	background-color: hsl(from var(--theme-color) h s 18%);
	box-shadow: -2px 2px 0.5rem rgba(from var(--shadow-color) r g b / 0.2);

	border-radius: var(--gap-05);
	border: solid 2px transparent;

	transition-property: border, background-color;
	transition-duration: var(--trans-dur-on-fast);
	transition-timing-function: ease-in-out;
}

.page-panel:hover,
.page-panel:focus-within
{
	color: var(--theme-color);
	background-color: hsl(from var(--theme-color) h s 24%);
	transition-duration: var(--trans-dur-on-fast);
}

.page-root:hover .page-panel
{
	border-color: hsl(from var(--theme-color) h s 18%);
}

.page-root:hover .page-panel:hover
{
	border-color: hsl(from var(--theme-color) h s 30%);
}


.page-panel.inset-box
{
	border: none;
	background-color: hsl(from var(--theme-color) h s 12%);
}

.page-panel.inset-box:hover
{
	background-color: hsl(from var(--theme-color) h s 10%);
}


.inset-shadow-overlay
{
	z-index: 10;
	pointer-events: none;
	user-select: none;
	position: absolute;
	inset: 0;
}

.inset-shadow-overlay::after
{
	content: '';

	z-index: 1000;
	pointer-events: none;
	position: absolute;
	inset: 0;

	clip-path: border-box;

	box-shadow: inset 0px 0px 0.5rem rgba(from var(--shadow-color) r g b / 0.5);
}



.page-panel.hover-lift:hover
{
	z-index: 10;
	cursor: help;
	scale: 105%;
	box-shadow: 0px 2px 0.5rem rgba(from var(--shadow-color) r g b / 0.6);

	transition-property: scale;
	transition-duration: var(--trans-dur-off-fast);
}






.page-panel a
{
	color: hsl(from var(--theme-color) h s 55%);
	padding: 0.25rem 0.5rem 0.25rem 0.5rem;
	border-radius: var(--gap-05);
}

.page-panel a:hover
{
	color: hsl(from var(--theme-color) h s 80%);
	background: hsl(from var(--theme-color) h s 10%);
}





.page-panel-tiles
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: 0.0;
	align-content: stretch;
	justify-content: stretch;
	gap: var(--gap-025);
}

.page-panel .page-panel-tiles > .page-panel
{
	flex-grow: 1.0;
	flex-shrink: 1.0;
	flex-basis: 0.0;
	min-width: min(75%, 4rem);
}

.page-panel.panel-button
{
	cursor: pointer;
}

.page-panel.panel-button:hover
{
	background-color: hsl(from var(--theme-color) h s 16%);
}

.panel-button-selected
{
	color: hsl(from var(--theme-color) h s 80%) !important;
	border-color: hsl(from var(--theme-color) h s 80%) !important;
	background-color: #000f !important;
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
}



.page-panel.expanding-panel:not(.hide-expander)::after
{
	content: '▶';
	position: absolute;
	pointer-events: painted;
	top: 0;
	right: 0;
	width: 2rem;
	height: 2rem;

	text-align: center;
	align-content: center;

	color: var(--theme-text-color);
	rotate: 270deg;
	opacity: 50%;

	transition-property: rotate, opacity;
	transition-duration: var(--trans-dur-off-veryslow);
	transition-delay: var(--trans-dur-off-veryslow);
	transition-timing-function: cubic-bezier(.4, -0.2, .6, 1.2);
}

.page-panel.expanding-panel:hover::after
{
	transition-delay: 0s;
	opacity: 100%;
	rotate: 90deg;
}

.page-panel.expanding-panel
{
	transition-property: max-height;
	transition-duration: var(--trans-dur-off-veryslow);
	transition-delay: var(--trans-dur-off-veryslow);
	transition-timing-function: cubic-bezier(.4, -0.2, .6, 1.2);
}

.page-panel.expanding-panel:hover,
.page-panel.expanding-panel:focus,
.page-panel.expanding-panel:focus-within
{
	transition-duration: var(--trans-dur-off-veryslow);
	transition-delay: 0s;
	max-height: 100vh !important;
}


.page-panel iframe
{
	z-index: 1;
	position: relative;
	overflow: hidden;
	border-radius: var(--gap-05);
}




.page-move-button
{
	z-index: 1000;
	cursor: pointer;
	user-select: none;

	position: absolute;
	top: 0.2rem;
	right: 1.9rem;
	width: 1.5rem;
	height: 1.5rem;
	background-color: #f803;
	border-radius: var(--gap-025);

	box-shadow: 0px 0px 0px rgba(from var(--shadow-color) r g b / 0);
	text-shadow: -2px 2px 2px rgba(from var(--shadow-color) r g b / 0.2);

	scale: 90%;
}

.page-move-button:hover
{
	scale: 100%;
	background-color: #f806;
}

.page-move-button:active
{
	scale: 95%;
	background-color: #f805;
}

.page-move-button > i
{
	color: white;
	pointer-events: none;
	opacity: 15%;
}

.page-move-button:hover > i
{
	opacity: 65%;
}

.page-close-button
{
	z-index: 1000;
	cursor: pointer;
	user-select: none;

	position: absolute;
	top: 0.2rem;
	right: 0.2rem;
	width: 1.5rem;
	height: 1.5rem;
	background-color: #f003;
	border-radius: var(--gap-025);

	box-shadow: 0px 0px 0px rgba(from var(--shadow-color) r g b / 0);
	text-shadow: -2px 2px 2px rgba(from var(--shadow-color) r g b / 0.2);

	scale: 90%;
}

.page-close-button:hover
{
	box-shadow: -2px 2px 1px rgba(from var(--shadow-color) r g b / 0.2);
	background-color: #f006;
	scale: 100%;
}

.page-close-button:active
{
	box-shadow: -1px 1px 0px rgba(from var(--shadow-color) r g b / 0.25);
	background-color: #f004;
	scale: 95%;
}

.page-close-button > i
{
	pointer-events: none;
	opacity: 15%;
}

.page-close-button:hover > i
{
	color: red;
	opacity: 80%;
}




.page-content-root
{
	position: absolute;
	inset: 2rem 0 0 0;
	min-width: 10rem;

	display: flex;
	flex-direction: column;

	padding: var(--gap-05);

	overflow-x: hidden;
	overflow-y: auto;
}

.page-content-root-block
{
	position: relative;
	padding: 0.5rem;

	flex-grow: 1.0;
	flex-basis: 0;

	border-radius: var(--gap-025);
	border: solid 2px hsl(from var(--theme-color) h s 20%);

	background-color: rgba(from var(--theme-color) r g b / 8%);
	color: hsl(from var(--theme-color) h s 50%);

	transition-property: border, background-color, box-shadow;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease-in-out;
}

.page-content-root-block:hover
{
	background-color: rgba(from var(--theme-color) r g b / 4%);
	border: solid 2px #fff1;
	color: hsl(from var(--theme-color) h s 70%);
}



.page-root:hover .page-title-bar
{
	color: hsl(from var(--theme-color) h s 70%);
}







.menu-root
{
	position: relative;
	flex-basis: 0%;
	flex-grow: 1.0;
	flex-shrink: 1.0;

	display: flex;
	flex-direction: column;

	padding: 0rem;
	border-radius: var(--gap-05);

	background-color: hsl(from var(--theme-color) h s 12%);
}

.menu-button
{
	user-select: none;
	cursor: pointer;

	text-align: center;
	align-content: center;
	font-weight: bold;

	min-height: 0.5rem;
	flex-shrink: 1.0;
	flex-grow: 1.0;

	padding-left: var(--gap-05);
	padding-right: var(--gap-05);

	color: var(--theme-color-text-40);

	transition-property: background-color, color, padding, text-shadow;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease-in-out;
}

.menu-button:hover
{
	padding-left: calc(var(--gap-05) + 4px);
	padding-right: calc(var(--gap-05) - 4px);

	text-shadow: -4px 4px 2px rgba(from var(--shadow-color) r g b / 0.2);
	color: var(--theme-color-text);
	background-color: hsl(from var(--theme-color) h s 20%);

	transition-duration: var(--trans-dur-off-fast);
}













.settings-options-root
{
	position: relative;
	padding: 0.5rem;

	border-radius: var(--gap-05);
	border: solid 2px rgba(from var(--theme-color) r g b / 0.1);

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	align-content: start;
}






.setting-root
{
	position: relative;
	cursor: pointer;
	user-select: none;

	flex-grow: 1.0;
	flex-shrink: 0.0;

	min-width: 8rem;
	min-height: 4rem;
	margin: 0;

	background-color: transparent;
	border-radius: calc(var(--gap-025) * 2);
	text-align: center;
	align-content: center;
	font-size: 0.85rem;
	font-variant: small-caps;
	outline: solid 2px rgba(from var(--theme-color) r g b / 0.1);
	outline-offset: -2px;

	opacity: 90%;

	transition-property: opacity, background-color, box-shadow;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease-in-out;
}

.setting-root:hover
{
	opacity: 100%;
	text-shadow: 0px 0px 6px rgba(from var(--shadow-color) r g b / 0.25);
	box-shadow: 0px 0px 6px rgba(from var(--shadow-color) r g b / 0.2);
	background-color: rgba(from var(--theme-color) r g b / 0.1);
}

.setting-root:active
{
	background-color: hsl(from var(--theme-color) h s 25%);
}




.setting-root > i
{
	pointer-events: none;
	position: absolute;
	color: var(--theme-color-60);
	top: 0;
	height: 70%;
	align-content: center;
	text-align: center;
	font-variant: normal;
	font-size: 1.8rem;
	text-shadow: none;
	opacity: 50%;
}

.setting-root-slider > i
{
	inset: unset;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	width: fit-content;
	padding-left: 2rem;
}


.setting-root > span
{
	pointer-events: none;

	position: absolute;
	left: 50%;
	bottom: var(--gap-025);
	width: calc(100% - var(--gap-025));

	line-height: 1rem;
	text-wrap: pretty;
	align-content: center;
	text-align: center;
	font-variant: small-caps;
	font-size: 120%;

	color: hsl(from var(--theme-color) h s 65%);
	transform: translate(-50%, 0%);

	transition-property: transform;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: cubic-bezier(.4, -0.2, .6, 1.2);
}

.setting-root:hover > span
{
	color: hsl(from var(--theme-color) h s 75%);

	transform: translate(-50%, -20%);
	text-shadow: 0px 4px 2px rgba(from var(--shadow-color) r g b / 0.2);
	transition-duration: var(--trans-dur-on-slow);
}

.setting-root-slider > span
{
	bottom: 50%;
	transform: translate(-50%, 50%);
}

.setting-root-slider:hover > span
{
	transform: translate(-50%, 30%);
}



.setting-root-on
{
	background-color: hsl(from var(--theme-color) h s 30%);
	outline: solid 2px hsl(from var(--theme-color) h s 40%);
}

.setting-root-on:hover
{
	background-color: hsl(from var(--theme-color) h s 20%);
}

.setting-root-on:active
{
	background-color: hsl(from var(--theme-color) h s 15%);
}

.setting-root-on > span
{
	color: hsl(from var(--theme-color) h s 85%);
}

.setting-root-on > i
{
	color: hsl(from var(--glow-color) h s 95%);
	text-shadow: 0px 0px 3px var(--glow-color);
}

.setting-root-on:hover > span
{
	color: hsl(from var(--glow-color) h s 95%);
}





.setting-root-warning
{
	pointer-events: none;
	justify-self: center;
	align-content: center;
	text-align: center;
	min-width: 100%;
	font-size: 70%;
	color: orange;
	padding: 0;
	letter-spacing: 0px;
	font-weight: bold;
	min-height: 0;
}

.setting-root-slider
{
	flex-basis: 90%;
	min-height: 2.5rem;
	cursor: grab;

	clip-path: padding-box;
	background-color: transparent;
}

.setting-root-slider:hover
{
	background-color: hsl(from var(--theme-color) h s 20%);
}

.setting-slider-fill
{
	z-index: -10;

	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;

	border-width: 0px 6px 0px 0px;
	border-style: solid;
	border-color: rgba(from var(--theme-color) r g b / 0.15);

	box-shadow: 0px 0px 6px rgba(from var(--shadow-color) r g b / 0.2);

	max-width: 100%;

	background-color: hsl(from var(--theme-color) h s 25%);
}

.setting-root-slider:active
{
	outline: solid 2px var(--theme-color);
}

.setting-root-slider:hover > .setting-slider-fill
{
	background-color: hsl(from var(--theme-color) h s 30%);
}



.setting-root:hover > .setting-root-toggle
{
	opacity: 100%;
	text-shadow: 0px 0px 6px rgba(from var(--shadow-color) r g b / 0.25);
	box-shadow: 0px 0px 6px rgba(from var(--shadow-color) r g b / 0.2);
	background-color: rgba(from var(--theme-color) r g b / 0.2);
}

.setting-root:active > .setting-root-toggle
{
	box-shadow: 0px 0px 2px rgba(from var(--shadow-color) r g b / 0.25);
}








.file-explorer-root
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-basis: 100%;
	flex-shrink: 1.0;
	flex-grow: 1.0;
}

.file-explorer-load-blocker
{
	z-index: 100;
	user-select: none;
	cursor: wait;
	opacity: 100%;

	position: absolute;
	inset: 0;

	backdrop-filter: blur(1px) brightness(80%) sepia(100%);

	transition-property: opacity;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: ease-in-out;
}

.file-explorer-nav-bar
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	flex-grow: 0.0;
	flex-shrink: 0.0;
	font-size: 0.7rem;
	line-height: 0.7rem;

	padding: var(--gap-025);

	align-content: center;
}

.file-explorer-nav-button
{
	cursor: pointer;
	flex-grow: 0.0;
	flex-shrink: 0.0;
	font-size: 0.65rem;
	line-height: 0.65rem;
	align-content: center;

	padding: var(--gap-05);

	border: none;

	overflow: hidden;
	text-wrap-mode: nowrap;

	transition-property: max-width, padding, border-width;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: ease;
}

.file-explorer-nav-path
{
	overflow: hidden;

	padding-left: var(--gap-05);
	padding-top: var(--gap-025);
	padding-bottom: var(--gap-025);

	direction: rtl;
	align-content: center;
	text-align: left;
	text-overflow: ellipsis;
	text-wrap: nowrap;
	word-wrap: anywhere;
}

.file-explorer-nav-path-highlight
{
	padding: var(--gap-025);

	color: hsl(from var(--theme-color) h s 70%);
	font-weight: bold;
	font-size: 0.8rem;

	background: hsl(from var(--theme-color) h s 30%);
	border-radius: var(--gap-05);
}


.file-explorer-items-root
{
	padding: var(--gap-05);
	overflow: hidden;
}

.file-explorer-items-container
{
	display: flex;
	flex-direction: column;
	gap: 0;
	padding: 0;
	max-height: 100%;

	border-radius: var(--gap-025);
	clip-path: fill-box;
}

.file-explorer-item:nth-child(even)
{
	background: hsl(from var(--theme-color) h s 21%);
}



.file-explorer-item
{
	display: flex;
	flex-direction: row;

	flex-grow: 0.0;
	flex-shrink: 0.0;
	border-radius: 0;
	box-shadow: none;
	font-size: 0.75rem;

	padding-top: var(--gap-025);
	padding-bottom: var(--gap-025);
	padding-left: var(--gap-1);
	padding-right: var(--gap-1);

	border: none;

	transition-property: background-color, box-shadow, opacity;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease-in-out;
}

.file-explorer-item:hover
{
	z-index: 10;

	background-color: hsl(from var(--theme-color) h s 25%);
	box-shadow: 0 0 0.5rem rgba(from var(--shadow-color) r g b / 0.5);
}


.file-explorer-item-title
{
	flex-grow: 1.0;
	align-content: center;
	padding-left: 0;
	padding-right: var(--gap-05);

	transform-origin: 0% 50%;

	transition-property: scale, padding-left, padding-right;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease-in-out;
}

.file-explorer-item:hover .file-explorer-item-title
{
	padding-left: var(--gap-025);
	padding-right: var(--gap-025);


}


.file-explorer-item:hover .file-explorer-item-info
{
	opacity: 100%;
	scale: 105%;
}

.file-explorer-item-info
{
	display: block;
	opacity: 80%;

	min-width: fit-content;

	margin: 0;
	padding: 0;

	align-content: center;
	text-align: center;
	font-size: 80%;

	text-transform: uppercase;
	letter-spacing: 0.1rem;

	transition-property: opacity, scale;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease;
}




.file-explorer-item-buttons-root
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;

	flex-grow: 0.0;
	flex-shrink: 0.0;

	gap: var(--gap-025);
	padding: var(--gap-025);
}

.file-explorer-item-button
{
	cursor: pointer;
	display: block;
	position: relative;

	min-width: 1.25rem;
	min-height: 1.25rem;

	border-radius: var(--gap-025);
	background: hsl(from var(--theme-color) h s 30%);
	border: solid 2px transparent;

	color: hsl(from var(--theme-color) h s 60%);
	scale: 90%;
	opacity: 50%;

	transition-property: scale, opacity;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease;
}

.file-explorer-item-button:hover
{
	opacity: 100%;
	scale: 120%;
	color: white;
	border-color: hsl(from var(--theme-color) h s 50%);
}

.file-explorer-item-button:active
{
	scale: 110%;
	border-color: white;
}

.file-explorer-item-button i
{
	position: absolute;
	inset: 0;

	line-height: 1.25rem;
	font-size: 1rem;

	text-align: center;
	align-content: center;

	scale: 90%;

	transition-property: scale;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease;
}

.file-explorer-item-button:hover i
{
	scale: 100%;
}




.file-explorer-folder
{
	cursor: pointer;
	--theme-color: #c99a54;
	padding: var(--gap-1);
}

.file-explorer-file
{}