.debug-log-root
{
	z-index: 100000;
	cursor: default;
	overflow: hidden auto;
	clip-path: stroke-box;

	display: flex;
	opacity: 30%;
	flex-direction: column;
	justify-content: flex-end;

	position: absolute;
	left: var(--gap-1);
	bottom: calc(var(--gap-1) + var(--info-bar-height));
	padding: var(--gap-025);

	min-width: 24rem;
	max-width: 32rem;
	min-height: 4rem;
	max-height: 8rem;

	transform-origin: 0% 100%;
	transform: scale(80%);

	font-family: AtkinsonHyperlegibleLight;
	letter-spacing: normal;
	word-spacing: normal;
	font-weight: lighter;
	font-size: 0.7rem;

	border-radius: var(--corner-05);
	background: var(--theme-color-background);

	outline: solid 2px hsl(from var(--theme-color-text) h s calc(l * 0.25));
	outline-offset: -1px;

	transition-property: max-height, opacity, outline-color, transform, box-shadow;
	transition-duration: var(--trans-dur-off-veryslow);
	transition-delay: 1s;
	transition-timing-function: ease-in-out;
}

.debug-log-root:hover
{
	overflow: hidden auto;
	transform: scale(99.9%);
	max-height: 80vh;
	opacity: 100%;

	box-shadow: inset -2px 2px 8px rgba(from var(--shadow-color) r g b / 0.25);
	outline: solid 2px hsl(from var(--theme-color-text) h s calc(l * 0.5));

	transition-delay: 0s;
	transition-duration: var(--trans-dur-off-slow);
}


.debug-log-root::-webkit-scrollbar
{
	display: none;
}




.debug-log-group
{
	display: flex;
	position: relative;

	flex-direction: column;
	justify-content: end;
	overflow: hidden;
	justify-content: start;

	flex-shrink: 0.0;

	line-height: 1rem;
	min-height: 1rem;

	margin-left: var(--gap-05);
	padding: var(--gap-05);

	background: transparent;
	border-top: solid 2px hsl(from var(--theme-color-text) h s 10%);
	border-bottom: solid 2px hsl(from var(--theme-color-text) h s 5%);

	color: var(--theme-color-text-30);
	font-size: 0.7rem;

	transition-delay: 0.1s;
	transition-property: border-color, background-color, color;
	transition-duration: var(--trans-dur-on-slow);
	transition-timing-function: ease-in-out;
}

.debug-log-group:hover
{
	background: rgba(from hsl(from var(--theme-color-text) h s 50%) r g b / 0.1);
	border-top: solid 2px hsl(from var(--theme-color-text) h s 50%);
	border-bottom: solid 2px hsl(from var(--theme-color-text) h s 50%);
	color: var(--theme-color-text);
	transition-delay: 0s;
}



.debug-log-item
{
	display: flex;
	position: relative;
	flex-shrink: 0.0;

	padding: var(--gap-025);
	padding-left: calc(var(--gap-1) + 8px);
	align-content: center;

	background: transparent;

	border-width: 0 0 0 0;
	border-style: solid;
	border-color: #fff0;

	opacity: 50%;

	transition-property: padding, border, opacity, color;
	transition-duration: var(--trans-dur-on-slow);
	transition-timing-function: ease-in-out;
}

.debug-log-item:hover
{
	padding-left: var(--gap-1);

	border-color: #fff;
	border-width: 0 0 0 4px;

	opacity: 100%;
	background: var(--theme-color-10);
	color: var(--theme-color-text);
}

.debug-log-item-count
{
	position: absolute;
	right: 0.5rem;
	top: 0;
	bottom: 0;
	text-align: center;
	background: #222a;
	padding-right: 0.2rem;
	padding-left: 0.2rem;
	color: var(--theme-color-text);
	outline: solid 2px black;
	font-size: 80%;
	align-content: center;
	align-self: center;
}

.debug-log-separator
{
	flex-shrink: 0.0;
	font-variant: small-caps;
	min-height: 0px;
	color: var(--theme-color-text-60);
	background: var(--theme-color-50);
	text-align: left;
	align-content: center;
	font-size: 90%;
	font-weight: bold;
	padding-left: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
}