.content-page-frames-root
{
	display: flex;
	position: relative;
	overflow: hidden;

	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;

	flex-grow: 1.0;
	flex-shrink: 1.0;

	gap: var(--gap-05);
	padding: var(--gap-05);
}

.content-page-frames-pinned
{
	display: flex;
	position: relative;
	overflow: hidden;

	flex-grow: 0.0;
	flex-shrink: 0.0;

	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;

	gap: var(--gap-05);
	padding: 0;
}


.content-pages-root
{
	position: absolute;
	inset: 0;

	z-index: 1;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;

	gap: var(--gap-05);
	padding: var(--gap-05);

	transition-property: opacity, filter;
	transition-duration: var(--trans-dur-on-fast);
	transition-timing-function: ease-in;
}


.content-pages-loose
{
	pointer-events: none;
	display: block;
	position: absolute;
	overflow: hidden;
	inset: 0;

	z-index: 1000;

	border-radius: 0;
	padding: var(--gap-05);

	transition-property: opacity;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: ease-in;
}

.content-page-frames-loose
{
	pointer-events: none;
	display: block;
	position: absolute;
	overflow: hidden;
	inset: 0;

	padding: var(--gap-05);

	transition-property: opacity;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: ease-in-out;
}





.page-root-frame
{
	display: block;
	position: relative;
	flex-shrink: 1.0;
	flex-grow: 1.0;
	flex-basis: 0;
	min-width: min(100vw, 13rem);
	min-height: min(100vh, 13rem);
}

.page-root-frame::after
{
	display: none;
	content: '';
	z-index: 100000000;
	position: absolute;
	pointer-events: none;
	inset: 0;

	background-image: linear-gradient(0deg, #ff01, transparent);
	outline: solid 2px #ff05;
	outline-offset: -2px;
}





.page-root
{
	pointer-events: all;
	position: absolute;
	display: block;

	opacity: 100%;
	scale: 100%;

	border-radius: var(--corner-05);

	outline: solid 3px transparent;
	outline-offset: -2px;

	box-shadow: 0px 0px 5px rgba(from var(--shadow-color) r g b / 0.15);
	background-color: hsl(from var(--theme-color) h s var(--theme-l020));

	transition-property: rotate, top, left, width, height, background-color, box-shadow, opacity, outline-color, scale;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: cubic-bezier(.4, -0.2, .6, 1.2);
}

.page-root:focus-within
{
	outline-color: hsl(from var(--theme-color) h s var(--theme-l040));
	opacity: 100%;

	background-color: hsl(from var(--theme-color) h s var(--theme-l020));
}

.page-root::after
{
	content: '';
	pointer-events: none;
	user-select: none;

	position: absolute;
	border-radius: var(--corner-05);
	inset: 0;

	background: rgba(from hsl(from var(--theme-color) h s var(--theme-l020)) r g b / 0.25);
}

.page-root:hover::after
{
	content: '';
	pointer-events: none;
	user-select: none;

	position: absolute;
	inset: 0;

	background: rgba(from hsl(from var(--theme-color) h s var(--theme-l020)) r g b / 0.125);
}

.page-root.page-focused::after
{
	content: '';
	pointer-events: none;
	user-select: none;

	position: absolute;
	inset: 0;

	background: rgba(from var(--theme-color) r g b / 0.0);
}

.page-loose
{
	box-shadow: 0px 0px 6px rgba(from var(--shadow-color) r g b / 0.9);
	clip-path: none;
}






.page-resizer
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 1rem;
	height: 1rem;

	cursor: nw-resize;
	z-index: 1000;

	user-select: none;

	border-radius: 0 0 var(--corner-05) 0;
	opacity: 20%;
}

.page-resizer:hover
{
	opacity: 100%;
}

.page-resizer::after
{
	content: '-';

	pointer-events: none;
	position: absolute;
	inset: 0;

	text-decoration: underline;
	align-content: center;
	text-align: center;

	rotate: -45deg;
	translate: -0.5rem -0.5rem;
	opacity: 50%;
	scale: 80%;
}

.page-resizer:hover::after
{
	opacity: 100%;
	scale: 100%;
}



.page-title-bar
{
	user-select: none;

	position: relative;
	width: 100%;
	left: 0;

	height: 2rem;
	min-height: 2rem;
	line-height: 2rem;

	color: hsl(from var(--theme-color) h s 50%);
	letter-spacing: 4px;
	text-align: center;
	align-content: center;
	font-weight: bold;
	font-size: 90%;

	background: #0002;

	border-radius: var(--corner-05);
}

.page-title
{
	position: absolute;
	inset: 0;
}

.page-title-bar i
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	aspect-ratio: 1.0;
	width: auto;

	scale: 80%;

	color: hsl(from var(--theme-color) h s 50%);
}

.page-title-bar .page-title-buttons
{
	opacity: 0%;
	transition-property: opacity;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: ease-in-out;
}

.page-title-bar:hover .page-title-buttons,
.page-title-bar:focus .page-title-buttons,
.page-title-bar:focus-within .page-title-buttons
{
	opacity: 100%;
}


.page-title-bar .page-title
{
	opacity: 100%;
	transition-property: opacity;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: ease-in-out;
}

.page-title-bar:hover .page-title
{
	opacity: 15%;
}

.page-title-buttons
{
	position: relative;
	height: 100%;
	pointer-events: none;

	z-index: 100;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 1.0;
}


.page-title-button
{
	cursor: pointer;
	pointer-events: all;

	position: relative;
	top: 2px;
	height: calc(100% - 8px);
	aspect-ratio: 1.0;
	width: auto;
	background-color: hsl(from var(--theme-color) h s var(--theme-l010));

	border-radius: var(--corner-05);

	opacity: 80%;
	scale: 90%;

	border: solid 2px;
	border-color: rgba(from var(--theme-color) r g b / 0.1);

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	transition-property: border-color;
	transition-duration: var(--trans-dur-off-fast);
}

.page-title-button:hover
{
	opacity: 100%;
	scale: 100%;
	background-color: hsl(from var(--theme-color) h s var(--theme-l020));
	border-color: rgba(from var(--theme-color) r g b / 0.5);

	box-shadow: 0px 0px 6px black;

}

.page-title-button i
{
	opacity: 70%;
	scale: 80%;

	transition-property: opacity, scale;
	transition-duration: var(--trans-dur-off-fast);
}

.page-title-button:hover i
{
	opacity: 100%;
	scale: 95%;
}








.page-panel
{
	position: relative;
	overflow: hidden;

	flex-grow: 1.0;
	flex-shrink: 1.0;

	min-width: 1rem;
	min-height: 1rem;
	gap: var(--gap-05);
	padding: var(--gap-025);

	color: var(--theme-color-text-50);
	letter-spacing: 1px;
	font-size: 95%;
	user-select: none;

	background-color: hsl(from var(--theme-color) h s var(--theme-l020));
	box-shadow: -2px 2px 0.5rem rgba(from var(--shadow-color) r g b / 0.2);

	border-radius: var(--corner-05);
	border: solid 2px transparent;

	transition-property: border, background-color;
	transition-duration: var(--trans-dur-on-fast);
	transition-timing-function: ease-in-out;
}

.page-panel:hover,
.page-panel:focus-within
{
	color: var(--theme-color-text-60);
	background-color: hsl(from var(--theme-color) h s var(--theme-l030));
	transition-duration: var(--trans-dur-on-fast);
}

.page-root:hover .page-panel
{
	border-color: hsl(from var(--theme-color) h s var(--theme-l020));
}

.page-root:hover .page-panel:hover
{
	border-color: hsl(from var(--theme-color) h s var(--theme-l030));
}




.page-panel.inset-box
{
	border: none;
	box-shadow: none;
	background-color: hsl(from var(--theme-color) h s var(--theme-l010));
}

.page-panel.inset-box:not(.scroll-y)
{
	box-shadow: inset 0px 0px 0.5rem #0008;
}

.page-panel.inset-box:where(.scroll-y)
{
	position: relative;
}





.page-panel.hover-lift:hover
{
	z-index: 10;
	cursor: help;
	scale: 105%;
	box-shadow: 0px 2px 0.5rem rgba(from var(--shadow-color) r g b / 0.6);

	transition-property: scale;
	transition-duration: var(--trans-dur-off-fast);
}






.page-panel a
{
	color: hsl(from var(--theme-color) h s var(--theme-l060));
	padding: 0.25rem 0.5rem 0.25rem 0.5rem;
	border-radius: var(--corner-05);
}

.page-panel a:hover
{
	color: hsl(from var(--theme-color) h s var(--theme-l080));
	background: hsl(from var(--theme-color) h s var(--theme-l010));
}





.page-panel-tiles
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: 0.0;
	align-content: stretch;
	justify-content: stretch;
	gap: var(--gap-025);
}

.page-panel .page-panel-tiles > .page-panel
{
	flex-grow: 1.0;
	flex-shrink: 1.0;
	flex-basis: 0.0;
	min-width: min(75%, 4rem);
}

.page-panel.panel-button
{
	cursor: pointer;
}

.page-panel.panel-button:hover
{
	background-color: hsl(from var(--theme-color) h s var(--theme-l020));
}

.page-panel.panel-button:active
{
	scale: 96%;
	background-color: hsl(from var(--theme-color) h s var(--theme-l020));
}

.panel-button-selected
{
	color: hsl(from var(--theme-color) h s var(--theme-l080)) !important;
	border-color: hsl(from var(--theme-color) h s var(--theme-l080)) !important;
	background-color: #000f !important;
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
}

.panel-button-disabled
{
	pointer-events: none;
	filter: saturate(0%) brightness(50%);
}



.page-panel.expanding-panel:not(.hide-expander)::after
{
	content: '▶';
	position: absolute;
	pointer-events: painted;
	top: 0;
	right: 0;
	width: 2rem;
	height: 2rem;

	text-align: center;
	align-content: center;

	rotate: 270deg;
	opacity: 50%;

	transition-property: rotate, opacity;
	transition-duration: var(--trans-dur-off-veryslow);
	transition-delay: 5s;
	transition-timing-function: ease;
}

.page-panel.expanding-panel:hover::after
{
	transition-delay: 0s;
	opacity: 100%;
	rotate: 90deg;
}

.page-panel.expanding-panel
{
	transition-property: max-height;
	transition-duration: var(--trans-dur-off-veryslow);
	transition-delay: 5s;
	transition-timing-function: ease;
}

.page-panel.expanding-panel:hover,
.page-panel.expanding-panel:focus,
.page-panel.expanding-panel:focus-within
{
	transition-duration: var(--trans-dur-off-veryslow);
	transition-delay: 0s;
	max-height: 100vh !important;
}


.page-panel iframe
{
	z-index: 1;
	position: relative;
	overflow: hidden;
	border-radius: var(--corner-05);
}




.page-move-button
{
	z-index: 1000;
	cursor: pointer;
	user-select: none;

	position: absolute;
	top: 0.2rem;
	right: 1.9rem;
	width: 1.5rem;
	height: 1.5rem;
	background-color: #f803;
	border-radius: var(--corner-025);

	box-shadow: 0px 0px 0px rgba(from var(--shadow-color) r g b / 0);
	text-shadow: -2px 2px 2px rgba(from var(--shadow-color) r g b / 0.2);

	scale: 90%;
}

.page-move-button:hover
{
	scale: 100%;
	background-color: #f806;
}

.page-move-button:active
{
	scale: 95%;
	background-color: #f805;
}

.page-move-button > i
{
	color: white;
	pointer-events: none;
	opacity: 15%;
}

.page-move-button:hover > i
{
	opacity: 65%;
}

.page-close-button
{
	z-index: 1000;
	cursor: pointer;
	user-select: none;

	position: absolute;
	top: 0.2rem;
	right: 0.2rem;
	width: 1.5rem;
	height: 1.5rem;
	background-color: #f003;
	border-radius: var(--corner-025);

	box-shadow: 0px 0px 0px rgba(from var(--shadow-color) r g b / 0);
	text-shadow: -2px 2px 2px rgba(from var(--shadow-color) r g b / 0.2);

	scale: 90%;
}

.page-close-button:hover
{
	box-shadow: -2px 2px 1px rgba(from var(--shadow-color) r g b / 0.2);
	background-color: #f006;
	scale: 100%;
}

.page-close-button:active
{
	box-shadow: -1px 1px 0px rgba(from var(--shadow-color) r g b / 0.25);
	background-color: #f004;
	scale: 95%;
}

.page-close-button > i
{
	pointer-events: none;
	opacity: 15%;
}

.page-close-button:hover > i
{
	color: red;
	opacity: 80%;
}




.page-content-root
{
	position: absolute;
	inset: 2rem 0 0 0;
	min-width: 10rem;

	display: flex;
	flex-direction: column;

	padding: var(--gap-05);

	overflow-x: hidden;
	overflow-y: auto;
}

.page-content-root-block
{
	position: relative;
	padding: 0.5rem;

	flex-grow: 1.0;
	flex-basis: 0;

	border-radius: var(--corner-025);
	border: solid 2px hsl(from var(--theme-color) h s var(--theme-l020));

	background-color: rgba(from var(--theme-color) r g b / 8%);
	color: hsl(from var(--theme-color) h s 50%);

	transition-property: border, background-color, box-shadow;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease-in-out;
}

.page-content-root-block:hover
{
	background-color: rgba(from var(--theme-color) r g b / 4%);
	border: solid 2px #fff1;
	color: hsl(from var(--theme-color) h s var(--theme-l070));
}



.page-root:hover .page-title-bar
{
	color: hsl(from var(--theme-color) h s var(--theme-l070));
}







.menu-root
{
	position: relative;
	flex-basis: 0%;
	flex-grow: 1.0;
	flex-shrink: 1.0;

	display: flex;
	flex-direction: column;

	padding: 0rem;
	border-radius: var(--corner-05);

	background-color: hsl(from var(--theme-color) h s var(--theme-l010));
}

.menu-button
{
	position: relative;
	user-select: none;
	cursor: pointer;

	text-align: center;
	align-content: center;
	font-weight: bold;

	min-height: 0.5rem;
	flex-basis: 100%;
	flex-shrink: 1.0;
	flex-grow: 1.0;

	padding-left: var(--gap-05);
	padding-right: var(--gap-05);

	color: var(--theme-color-text-40);
	text-shadow: -1px 1px 2px rgba(from var(--shadow-color) r g b / 0.2);

	transition-property: background-color, color, padding, text-shadow;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease-in-out;
}

.menu-button:hover
{
	padding-left: calc(var(--gap-05) + 4px);
	padding-right: calc(var(--gap-05) - 4px);
	text-shadow: -4px 4px 2px rgba(from var(--shadow-color) r g b / 0.2);

	color: var(--theme-color-text);
	background-color: hsl(from var(--theme-color) h s var(--theme-l020));

	transition-duration: var(--trans-dur-off-fast);
}

.menu-button:active
{
	color: var(--theme-color-text-60);
	background-color: hsl(from var(--theme-color) h s var(--theme-l020));
	transition-duration: var(--trans-dur-on-fast);
}





.menu-button-alert
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;

	position: absolute;
	top: var(--gap-05);
	right: var(--gap-05);
	width: fit-content;
	min-width: 1rem;
	height: fit-content;
	border-radius: 1.75rem;

	padding: var(--gap-025);

	background: #f556;
	border: solid 2px #f551;
	box-shadow: 0 0 0 #000;
	text-shadow: -1px 1px 0 rgba(from var(--shadow-color) r g b / 0.2);

	scale: 85%;

	transition-property: scale, box-shadow, border;
	transition-timing-function: ease-in-out;
	transition-duration: var(--trans-dur-off-veryslow);
}

.menu-button:hover .menu-button-alert
{
	box-shadow: -2px 2px 4px #0007;
	border: solid 2px #f558;
	scale: 100%;
	transition-duration: var(--trans-dur-on-fast);
}

.menu-button-alert > span
{
	position: relative;
	display: flex;
	flex-shrink: 0.0;
	flex-grow: 0.0;
	flex-basis: 0.0;

	font-size: 0.666rem;
	color: #fffa;
	text-align: center;
	text-anchor: middle;
	align-content: center;
	align-self: center;
}

.menu-button:hover .menu-button-alert > span
{
	color: white;
}




.settings-options-root
{
	position: relative;
	padding: 0.5rem;

	border-radius: var(--corner-05);
	border: solid 2px rgba(from var(--theme-color) r g b / 0.1);

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	align-content: start;
}






.setting-root
{
	position: relative;
	cursor: pointer;
	user-select: none;

	flex-grow: 1.0;
	flex-shrink: 0.0;

	min-width: 10rem;
	min-height: 4rem;
	margin: 0;

	border-radius: var(--corner-05);

	outline: solid 2px rgba(from var(--theme-color) r g b / 0.1);
	outline-offset: -2px;

	text-align: center;
	align-content: center;
	font-size: 0.85rem;
	font-variant: small-caps;

	opacity: 90%;
	background-color: transparent;

	transition-property: opacity, background-color, box-shadow;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease-in-out;
}

.setting-root:hover
{
	opacity: 100%;
	text-shadow: 0px 0px 6px rgba(from var(--shadow-color) r g b / 0.25);
	box-shadow: 0px 0px 6px rgba(from var(--shadow-color) r g b / 0.2);
	background-color: rgb(from var(--theme-color-background) r g b / 0.15);
}

.setting-root:active
{
	background-color: rgb(from hsl(from var(--theme-color) h s var(--theme-l020)) r g b / 0.2);
}




.setting-root > i
{
	pointer-events: none;
	position: absolute;
	color: hsl(from var(--theme-color) h s var(--theme-l080));
	top: 0;
	height: 70%;
	align-content: center;
	text-align: center;
	font-variant: normal;
	font-size: 1.8rem;
	text-shadow: none;
}

.setting-root-slider > i
{
	inset: unset;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	width: fit-content;
	padding-left: 2rem;
}


.setting-root > span
{
	pointer-events: none;

	position: absolute;
	left: 50%;
	bottom: calc(0.25rem + var(--gap-025));
	width: calc(100% - 0.5rem - var(--gap-05));

	line-height: 1rem;
	text-wrap: pretty;
	align-content: center;
	text-align: center;
	font-variant: small-caps;
	font-size: 1rem;

	color: hsl(from var(--theme-color) h s var(--theme-l060));
	transform: translate(-50%, 0%);

	transition-property: transform;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: cubic-bezier(.4, -0.2, .6, 1.2);
}





.setting-root-on
{
	background-color: hsl(from var(--theme-color) h s var(--theme-l030));
	outline: solid 2px hsl(from var(--theme-color) h s var(--theme-l040));
}

.setting-root-on:hover
{
	background-color: hsl(from var(--theme-color) h s var(--theme-l020));
}

.setting-root-on:active
{
	background-color: hsl(from var(--theme-color) h s var(--theme-l010));
}

.setting-root-on > span
{
	color: hsl(from var(--theme-color) h s var(--theme-l080));
}

.setting-root-on > i
{
	color: var(--text-color);
	text-shadow: 0px 0px 3px var(--glow-color);
}

.setting-root-on:hover > span
{
	color: var(--text-color);
}


.setting-root:hover > span
{
	color: hsl(from var(--theme-color) h s var(--theme-l090));

	transform: translate(-50%, -20%);
	text-shadow: 0px 4px 2px rgba(from var(--shadow-color) r g b / 0.2);
	transition-duration: var(--trans-dur-on-slow);
}

.setting-root-slider > span
{
	bottom: 50%;
	transform: translate(-50%, 50%);
}

.setting-root-slider:hover > span
{
	transform: translate(-50%, 30%);
}


.setting-root-warning
{
	pointer-events: none;
	justify-self: center;
	align-content: center;
	text-align: center;
	min-width: 100%;
	font-size: 70%;
	color: var(--theme-color-highlight);
	padding: 0;
	letter-spacing: 0px;
	font-weight: bold;
	min-height: 0;
}





.setting-root-slider
{
	flex-basis: 90%;
	min-height: 2.5rem;
	cursor: grab;

	clip-path: padding-box;
	background-color: transparent;
}

.setting-root-slider:hover
{
	background-color: rgb(from hsl(from var(--theme-color) h s var(--theme-l020)) r g b / 0.15);
}

.setting-slider-fill
{
	z-index: -10;

	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;

	border-width: 0px 6px 0px 0px;
	border-style: solid;
	border-color: rgba(from var(--theme-color) r g b / 0.15);

	box-shadow: 0px 0px 6px rgba(from var(--shadow-color) r g b / 0.2);

	max-width: 100%;

	background-color: hsl(from var(--theme-color) h s var(--theme-l020));
}

.setting-root-slider:active
{
	outline: solid 2px var(--theme-color);
}

.setting-root-slider:hover > .setting-slider-fill
{
	background-color: hsl(from var(--theme-color) h s var(--theme-l030));
}

.setting-root-slider:active > .setting-slider-fill
{
	background-color: hsl(from var(--theme-color) h s var(--theme-l040));
}

.setting-slider-value
{
	pointer-events: none;
	z-index: 10;
	position: absolute;
	right: calc(var(--gap-05) + 0.5rem);
	top: 50%;
	opacity: 30%;
	font-size: 1.5rem;
	align-content: center;
	text-align: center;
	text-anchor: middle;
	transform: translate(0%, -45%);
	filter: blur(0.5px);
}







.setting-root:hover > .setting-root-toggle
{
	opacity: 100%;
	text-shadow: 0px 0px 6px rgba(from var(--shadow-color) r g b / 0.25);
	box-shadow: 0px 0px 6px rgba(from var(--shadow-color) r g b / 0.2);
	background-color: rgba(from var(--theme-color) r g b / 0.2);
}

.setting-root:active > .setting-root-toggle
{
	box-shadow: 0px 0px 2px rgba(from var(--shadow-color) r g b / 0.25);
}








.file-explorer-root
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-basis: 100%;
	flex-shrink: 1.0;
	flex-grow: 1.0;
}

.file-explorer-load-blocker
{
	z-index: 100;
	user-select: none;
	cursor: wait;
	opacity: 100%;

	position: absolute;
	inset: 0;

	backdrop-filter: blur(1px) brightness(80%) sepia(100%);

	transition-property: opacity;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: ease-in-out;
}

.file-explorer-nav-bar
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	flex-grow: 0.0;
	flex-shrink: 0.0;
	font-size: 0.7rem;
	line-height: 0.7rem;

	padding: var(--gap-025);

	align-content: center;
}

.file-explorer-nav-button
{
	cursor: pointer;
	flex-grow: 0.0;
	flex-shrink: 0.0;
	font-size: 0.65rem;
	line-height: 0.65rem;
	align-content: center;

	padding: var(--gap-05);

	border: none;

	overflow: hidden;
	text-wrap-mode: nowrap;

	transition-property: max-width, padding, border-width;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: ease;
}

.file-explorer-nav-path
{
	overflow: hidden;

	padding-left: var(--gap-05);
	padding-top: var(--gap-025);
	padding-bottom: var(--gap-025);

	direction: rtl;
	align-content: center;
	text-align: left;
	text-overflow: ellipsis;
	text-wrap: nowrap;
	word-wrap: anywhere;
}

.file-explorer-nav-path-highlight
{
	padding: var(--gap-025);

	color: hsl(from var(--theme-color) h s var(--theme-l070));
	font-weight: bold;
	font-size: 0.8rem;

	background: hsl(from var(--theme-color) h s var(--theme-l030));
	border-radius: var(--corner-05);
}


.file-explorer-items-root
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: var(--gap-05);
	overflow: hidden;
}

.file-explorer-items-container
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 0;
	padding: 0;
	flex-shrink: 1.0;
	flex-grow: 1.0;
	flex-basis: 0.0;

	border-radius: var(--corner-025);
	clip-path: fill-box;
}

.file-explorer-item:nth-child(even)
{
	background: hsl(from var(--theme-color) h s calc(2% + var(--theme-l020)));
}



.file-explorer-item
{
	display: flex;
	flex-direction: row;

	flex-grow: 0.0;
	flex-shrink: 0.0;
	border-radius: 0;
	box-shadow: none;
	font-size: 0.75rem;

	padding-top: var(--gap-025);
	padding-bottom: var(--gap-025);
	padding-left: var(--gap-1);
	padding-right: var(--gap-1);

	border: none;

	transition-property: background-color, box-shadow, opacity;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease-in-out;
}

.file-explorer-item:hover
{
	z-index: 10;

	background-color: hsl(from var(--theme-color) h s var(--theme-l030));
	box-shadow: 0 0 0.5rem rgba(from var(--shadow-color) r g b / 0.5);
}


.file-explorer-item-title
{
	pointer-events: none;

	flex-grow: 1.0;
	align-content: center;
	padding-left: 0.25rem;
	padding-right: 0.5rem;

	transform-origin: 0% 50%;

	transition-property: scale, padding-left, padding-right;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease-in-out;
}

.file-explorer-item:hover .file-explorer-item-title
{
	padding-left: calc(0.25rem + var(--gap-05));
	padding-right: 0.5rem;
}



.file-explorer-item-info
{
	display: block;
	cursor: help;
	opacity: 70%;

	min-width: fit-content;

	margin: 0;
	padding: 0;
	padding-right: var(--gap-05);

	align-content: center;
	text-align: center;
	font-size: 75%;

	text-transform: uppercase;
	letter-spacing: 2px;

	transition-property: opacity, padding-right;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: ease-in-out;
}

.file-explorer-item:hover .file-explorer-item-info
{
	opacity: 95%;
	padding-right: calc(var(--gap-1));
}

.file-explorer-item-info span
{
	border: solid 2px gray;
}




.file-explorer-item-buttons-root
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: relative;

	flex-grow: 0.0;
	flex-shrink: 0.0;

	gap: var(--gap-025);
	padding: var(--gap-025);
}

.file-explorer-item-button
{
	cursor: pointer;
	display: block;
	position: relative;

	min-width: 1.25rem;
	min-height: 1.25rem;

	border-radius: var(--corner-025);
	background: hsl(from var(--theme-color) h s var(--theme-l010));
	border: solid 2px transparent;

	color: hsl(from var(--theme-color) h s var(--theme-l060));
	scale: 100%;
	opacity: 40%;

	transition-property: scale, opacity;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease;
}

.file-explorer-item-button:hover
{
	opacity: 100%;
	scale: 105%;
	color: white;
	border-color: hsl(from var(--theme-color) h s 50%);
}

.file-explorer-item-button:active
{
	scale: 110%;
	border-color: white;
}

.file-explorer-item-button i
{
	position: absolute;
	pointer-events: none;
	inset: 0;

	line-height: 1.25rem;
	font-size: 1rem;

	text-align: center;
	align-content: center;

	scale: 90%;

	transition-property: scale;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease;
}

.file-explorer-item-button:hover i
{
	scale: 100%;
}




.file-explorer-folder
{
	cursor: pointer;
	--theme-color: #c09f6d;
	padding-top: var(--gap-05);
	padding-bottom: var(--gap-05);
}

.file-explorer-file
{
	padding-top: var(--gap-025);
	padding-bottom: var(--gap-025);
}



.file-drop-zone
{
	outline: dashed 3px hsl(from var(--theme-color) h s var(--theme-l060));
	outline-offset: -6px;
	opacity: 50%;
}







.long-ops-root
{
	z-index: 50000;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: var(--gap-025);

	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translate(0%, -50%);
	max-width: 12rem;

	outline: solid 2px var(--theme-color-highlight);
	box-shadow: 0px 0px 1rem black;

	min-width: 2rem;
	max-height: 70vh;

	transition-property: opacity, max-width;
	transition-timing-function: ease-in-out;
	transition-duration: var(--trans-dur-off-slow);
}

.long-ops-root:hover,
.long-ops-root:focus,
.long-ops-root:focus-within
{
	max-width: 24rem;
}










.calendar-root
{
	position: absolute;
	inset: 0;

	display: flex;
	overflow: hidden;
	box-sizing: border-box;

	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1.0;
	padding: var(--gap-025);

	justify-content: flex-start;
	align-items: stretch;
	gap: var(--gap-025);
}

.calendar-day
{
	z-index: 1;
	display: block;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	cursor: pointer;

	opacity: 40%;
	padding: var(--gap-025);

	min-width: 0;
	min-height: 0;

	max-width: 100%;
	max-height: 100%;
	height: calc(100% / 6.0 - var(--gap-025));
	width: calc(100% / 7.0 - var(--gap-025));
	flex-grow: 1.0;
	flex-shrink: 1.0;

	background: hsl(from var(--theme-color) h s var(--theme-l010));
	border-style: solid;
	border-color: hsl(from var(--theme-color) h s var(--theme-l005));
	border-width: 1px;
	border-radius: var(--corner-025);
	outline-offset: 0;
	box-shadow: none;

	color: hsl(from var(--theme-color) h s 50%);
	font-size: max(0.6rem, min(1rem, calc(0.02px * var(--container-h))));
	text-align: center;

	transition-property: scale, color, background-color, outline-offset, padding-top, border-width;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: ease;
}

.calendar-day[calendar-this-month]
{
	background: hsl(from var(--theme-color) h s var(--theme-l015));
	border-color: hsl(from var(--theme-color) h s var(--theme-l020));
	border-width: 1px;
	opacity: 100%;
}

.calendar-day[calendar-today]
{
	z-index: 2;
	padding-top: min(1rem, calc(0.03px * var(--container-h))) !important;
	scale: 102%;
	color: hsl(from var(--theme-color) h s var(--theme-l080));
	border-width: 2px;
	border-color: hsl(from var(--theme-color) h s var(--theme-l030));
	background: hsl(from var(--theme-color) h s var(--theme-l020));
	border-radius: var(--corner-05) !important;
	box-shadow: 0px 0px 0.7rem rgb(from var(--shadow-color) r g b / 0.5);
}

.calendar-day[calendar-today]::after
{
	z-index: 2;
	content: 'TODAY';
	box-sizing: border-box;

	position: absolute;
	top: 0%;
	left: 50%;
	width: max(6rem, 60%);
	height: 0.8rem;
	opacity: 80%;
	translate: -50% 0%;
	padding-top: 1px;

	font-size: 50%;
	letter-spacing: 1px;
	align-content: center;
	text-align: center;
	font-weight: bold;
	color: var(--theme-color-highlight);

	border-radius: 0 0 var(--corner-05) var(--corner-05);
	border-style: solid;
	border-width: 0px 2px 2px 2px;
	border-color: hsl(from var(--theme-color) h s var(--theme-l030));

	background: hsl(from var(--theme-color) h s var(--theme-l010));
}

.calendar-day[calendar-selected]
{
	z-index: 3;
	padding: var(--gap-05);
	scale: 100%;
	color: hsl(from var(--theme-color) h s var(--theme-l080));
	border-color: hsl(from var(--theme-color) h s var(--theme-l050));
	background: hsl(from var(--theme-color) h s var(--theme-l020));
	border-radius: var(--corner-025);
	box-shadow: 0px 0px 0.7rem rgb(from hsl(from var(--theme-color) h s 50%) r g b / 0.85);

	outline-offset: -4px;
	outline: solid 2px hsl(from var(--theme-color) h s var(--theme-l050));
}

.calendar-day[calendar-today].calendar-day[calendar-selected]
{
	scale: 105%;
}

.calendar-day:hover
{
	opacity: 100%;
	color: hsl(from var(--theme-color) h s var(--theme-l090));
	background: hsl(from var(--theme-color) h s var(--theme-l020));
	transition-duration: var(--trans-dur-off-slow);
}









@property --pie-phase
{
	syntax: '<percentage>';
	inherits: false;
	initial-value: 0%;
}

@property --pie-phase-offset
{
	syntax: '<angle>';
	inherits: false;
	initial-value: 0deg;
}

@property --pie-layer-color
{
	syntax: '<color>';
	inherits: false;
	initial-value: #fff;
}


.pie-chart-root
{
	position: relative;
	overflow: hidden;
}

.pie-chart-layer-root
{
	position: absolute;
	inset: var(--gap-05);
	border-radius: 100%;
	overflow: hidden;
	scale: 90%;

	outline: solid 2px hsl(from var(--theme-color) h s var(--theme-l015));

	box-shadow: 0 0.5rem 0.5rem rgb(from var(--shadow-color) r g b / 0.25), inset 0 0.5rem 0.2rem rgb(from var(--shadow-color) r g b / 0.2);

	transition-property: scale;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease;
}
div:hover > .pie-chart-root .pie-chart-layer-root
{
	scale: 95%;
}

.pie-chart-layer
{
	--pie-phase-offset: 0%;
	--pie-layer-color: transparent;
	--pie-phase: 0%;

	pointer-events: none;
	position: absolute;
	inset: 0;
	background: conic-gradient(from var(--pie-phase-offset), var(--pie-layer-color) var(--pie-phase), transparent var(--pie-phase));
	border-radius: 100%;
	opacity: 70%;

	filter: blur(1.5px);

	transition-property: --pie-phase-offset, --pie-phase, --pie-layer-color;
	transition-duration: var(--trans-dur-off-veryslow);
	transition-timing-function: ease-in-out;
}

.pie-chart-info
{
	pointer-events: none;
	z-index: 100;
	opacity: 90%;
	font-size: 0.8rem;

	transition-property: opacity, font-size;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease-in-out;
}

div:hover > .pie-chart-root .pie-chart-info
{
	font-size: 1rem;
	opacity: 100%;
}