.action-bar
{
	z-index: 1000;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: var(--action-bar-height);

	color: var(--theme-color-text);
	font-size: 110%;
	font-weight: bold;
	text-align: center;
	align-content: center;

	background: hsl(from var(--theme-color) h s calc(l * 0.2));
	box-shadow: 0px 0px 0px transparent;

	transition-property: box-shadow;
	transition-delay: 0s;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: ease-in-out;
}

.action-bar:hover,
.action-bar:active
{
	box-shadow: 0px 1rem 1rem rgba(from var(--shadow-color) r g b / 0.24);
	transition-duration: var(--trans-dur-on-slow);
	transition-delay: 0s;
}

.action-bar-logo
{
	position: absolute;
	display: inline;
	top: 0.5rem;
	left: 0;

	height: calc(100% - 1rem);

	padding-left: 1rem;
	padding-right: 1rem;
	aspect-ratio: 1.0;
	width: auto;
	max-width: calc(var(--action-bar-height) - 0.3rem);

	object-fit: contain;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

.action-bar-title
{
	user-select: none;
	color: hsl(from var(--theme-color) h s 60%);
	font-weight: bold;

	text-shadow: 0px 0.4rem 3px rgba(from var(--shadow-color) r g b / 0.2);
	letter-spacing: calc(0.5 * var(--font-size));

	transition-property: transform, opacity;
	transition-duration: var(--trans-dur-off-slow);
	transition-delay: 0.25s;
	transition-timing-function: ease-in-out;
}

.action-bar:hover > .action-bar-title,
.action-bar:active > .action-bar-title
{
	opacity: 50%;
	transform: translate(0%, calc(-0.75 * var(--action-bar-height)));
	transition-delay: 0s;
	transition-duration: var(--trans-dur-on-slow);
}

.action-bar-icons-container
{
	position: absolute;
	display: flex;
	flex-direction: row-reverse;
	right: 0;
	top: 0;
	bottom: 0;
}

.action-bar-icons-container > div
{
	max-width: 2rem;
	opacity: 0%;

	transition-property: max-width, opacity;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease-in-out;
}

.action-bar-icons-container:hover > div
{
	max-width: 4rem;
	opacity: 100%;
}

.action-bar-button-container
{
	position: absolute;
	height: var(--action-bar-height);
	right: 0;
	left: 0;
	bottom: 0;

	display: flex;
	flex-direction: row;
	justify-content: center;
	opacity: 0%;

	transition-property: opacity;
	transition-delay: 0.2s;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: ease-in-out;
}

.action-bar:hover > .action-bar-button-container,
.action-bar:active > .action-bar-button-container
{
	opacity: 100%;
	transition-delay: 0s;
	transition-duration: var(--trans-dur-on-slow);
}



@property --action-bar-button-hover
{
	syntax: '<number>';
	inherits: false;
	initial-value: 0.0;
}

.action-bar-button
{
	position: relative;
	z-index: 10;
	overflow: hidden;

	--action-bar-button-hover: 0.0;
	cursor: pointer;
	user-select: none;

	margin-left: 0.25rem;
	margin-right: 0.25rem;

	min-width: calc(var(--action-bar-height) * 2.5);
	width: auto;

	flex-grow: 0.0;
	flex-shrink: 0.0;
	padding-left: 1rem;
	padding-right: 1rem;

	border-radius: var(--corner-05);

	text-align: center;
	align-content: center;

	background: linear-gradient(180deg, rgba(from var(--theme-color) r g b / calc(0.2 * var(--action-bar-button-hover))), transparent);

	font-size: 80%;
	letter-spacing: 2px;

	transition-property: --action-bar-button-hover, color, scale, box-shadow;
	transition-delay: 0s;
	transition-duration: var(--trans-dur-off-fast);
	transition-timing-function: ease-in-out;
}

.action-bar-button:hover
{
	--action-bar-button-hover: 1.0;
	color: var(--theme-color-text-90);
	box-shadow: 0px 0px 0.5rem rgba(from var(--shadow-color) r g b / 0.1);
	transition-duration: var(--trans-dur-on-fast);
	transition-delay: 0s;
}

.action-bar-button:active
{
	--action-bar-button-hover: 0.8;
	scale: 98%;
	color: var(--theme-color-text-50);
	box-shadow: 0px 0px 0.25rem rgba(from var(--shadow-color) r g b / 0.25);
	transition-duration: var(--trans-dur-on-fast);
	transition-delay: 0s;
}

.action-bar-button > span
{
	pointer-events: none;
	translate: 0% 100%;

	transition-property: translate;
	transition-delay: 0s;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: ease-in-out;
}

.action-bar-button:active > span,
.action-bar-button:hover > span
{
	translate: 0% 0%;
}


.action-bar-button > .icon
{
	z-index: 20;
	text-shadow: 0px 0px 0rem transparent;
	color: var(--theme-color-text-50);

	transition-property: translate, text-shadow, transform;
	transition-delay: 0s;
	transition-duration: var(--trans-dur-off-slow);
	transition-timing-function: ease-in-out;
}

.action-bar-button:hover > .icon,
.action-bar-button:active > .icon
{
	z-index: -10;
	translate: 0% -100%;

	text-shadow: none;
	transition-duration: var(--trans-dur-on-slow);
	transition-delay: 0s;
}




.action-bar-profile-root
{
	position: absolute;
	display: inline;
	top: 0;
	bottom: 0;
	right: 0;

	aspect-ratio: 1.0;
	height: 100%;
	width: auto;

	padding-left: 1rem;
	padding-right: 1rem;

	object-fit: contain;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;

	font-size: 0.5rem;
}

.action-bar-profile-picture
{
	width: 100%;
	height: 100%;
	border-radius: var(--corner-05);
	outline: solid var(--theme-color) 2px;
	outline-offset: -2px;

	scale: 80%;
}